@font-face {
    font-family: "AndesBook";
    src: url("./../../../assets/fonts/Andes/AndesBook.otf");
}
@font-face {
    font-family: "AndesBold";
    src: url("./../../../assets/fonts/Andes/AndesBoldNew.ttf");
}
@font-face {
    font-family: "AndesExtraLight";
    src: url("./../../../assets/fonts/Andes/AndesExtraLightNew.ttf");
}
@font-face {
    font-family: "BertholdLight";
    src: url("./../../../assets/fonts/AkzidenzGrotesk/Akzidenz-grotesk-light.ttf");
}
@font-face {
    font-family: "BertholdBERegular";
    src: url("./../../../assets/fonts/Berthold/Berthold Akzidenz Grotesk BE Regular.otf");
}