<div class="preview-button">
    <button type="button" class="btn btn-primary mx-3" (click)="previewPdf($event)">Preview PDF</button>
</div>
<div id="print-section">
    <div class="pdfContent">
        <div class="cover" [ngStyle]="{'background-image': 'url(' + primaryImageURLSrc + ')'}">
        <div class="coverWrap">
            <div class="coverClip" [ngStyle]="{'background-image': 'url(' + secondaryImageURLSrc + ')'}"></div>
        </div>
        <div class="coverClipBottom"></div>
        <div class="coverTitle">
            <div class="heading">CLIMATE RISK COUNTRY PROFILE</div>
            <div class="fancyArrowCover country">{{ countryName }}</div>
        </div>
        <div class="row coverFooter">
            <div class="col left" style="text-align: left">
            <a href="https://www.worldbank.org/" target="_blank">
                <img src="./../../../assets/images/logo/ci_2.png"/>
            </a>
            </div>
            <div class="col right" style="text-align: right" *ngIf="(isAdbProfile === true)">
            <a href="https://www.adb.org/" target="_blank">
                <img src="{{ adbWbLogoImageURL }}" *ngIf="adbWbLogoImageURL != ''; else defaultAdbWbLogoImageURL"/>
                <ng-template #defaultAdbWbLogoImageURL>
                <img src="./../../../assets/images/logo/ci_3.png"/>
                </ng-template>
            </a>
            </div>
        </div>
        </div>
    </div>
    <div class="pageBreak" style="padding-top: 1448px;">
        <div class="pdfContent">
            <div class="section" *ngIf="(isDisplayAcknowledgementSection === true) && (acknowledgementMainSection != '')" >
                <div *ngIf="acknowledgementMainSection" class="mainSection" [innerHTML]="acknowledgementMainSection | safeHtml"></div>
            </div>
        </div>
    </div>
    <div id="toc" class="pdfContent pageBreak" >
        <div class="section">
        <div class="mainTitleWrap">
            <h1 class="mainTitle fancyArrow">Contents</h1>
        </div>
        </div>
    </div>
    <div class="pdfContent" id="contents">
        <div [ngClass]="{'pageBreak': isCheckedforewordSection==true, 'section' : countryName != '' }" *ngIf="(isDisplayforewordSection === true) && (forewordMainSection != '' || forewords?.length > 0 || forewordFooterLinks)" >
        <div class="mainTitleWrap">
            <h1 class="mainTitle fancyArrow">Foreword</h1>
        </div>
        <div *ngIf="forewordMainSection" class="mainSection" [innerHTML]="forewordMainSection | safeHtml"></div>
        <div class="subSection" *ngIf="forewords?.length > 0">  
            <div class="subSectionContent" *ngFor="let foreword of forewords" >
            <h2 class="subSectionTitle">{{ foreword.forewordSubSectionsTitle }} </h2>
            <div class="subSectionContentText" [innerHTML]="foreword.forewordSubSectionsContent"></div>
            </div>
        </div>
        </div>
    
        <div [ngClass]="{'pageBreak': isCheckedkeyMessageSection==true, 'section' : countryName != '' }" *ngIf="(isDisplaykeyMessageSection === true) && (keyMessageMainSection != '' || keyMessages?.length > 0 || keyMessageFooterLinks)">
        <div class="mainTitleWrap">
            <h1 class="mainTitle fancyArrow">Key Messages</h1>
        </div>
        <div *ngIf="keyMessageMainSection" class="mainSection" [innerHTML]="keyMessageMainSection | safeHtml"></div>
        <div class="subSection" *ngIf="keyMessages?.length > 0">  
            <div class="subSectionContent" *ngFor="let keyMessage of keyMessages">
            <h2 class="subSectionTitle">{{ keyMessage.keyMessageSubSectionsTitle }} </h2>
            <div class="subSectionContentText" [innerHTML]="keyMessage.keyMessageSubSectionsContent"></div>
            </div>
        </div>
        </div>  
    
        <div [ngClass]="{'pageBreak': isCheckedcountryOverviewSection==true, 'section' : countryName != '' }" *ngIf="(isDisplaycountryOverviewSection === true) && (countryOverviewMainSection != '' || countryOverviews?.length > 0 || countryOverviewFooterLinks)">
        <div class="mainTitleWrap">
            <h1 class="mainTitle fancyArrow">Country Overview</h1>
        </div>
        <div *ngIf="countryOverviewMainSection" class="mainSection" [innerHTML]="countryOverviewMainSection | safeHtml"></div>
        <div class="subSection" *ngIf="countryOverviews?.length > 0">  
            <div class="subSectionContent" *ngFor="let countryOverview of countryOverviews">
            <h2 class="subSectionTitle">{{ countryOverview.countryOverviewSubSectionsTitle }} </h2>
            <div class="subSectionContentText" [innerHTML]="countryOverview.countryOverviewSubSectionsContent"></div>
            </div>
        </div>
        </div>
    
        <div [ngClass]="{'pageBreak': isCheckedclimatologySection==true, 'section' : countryName != '' }" *ngIf="(isDisplayclimatologySection === true) && (climatologyMainSection != '' || climatologys?.length > 0 || climatologyFooterLinks)">
        <div class="mainTitleWrap">
            <h1 class="mainTitle fancyArrow">Climatology</h1>
        </div>
        <div *ngIf="climatologyMainSection" class="mainSection" [innerHTML]="climatologyMainSection | safeHtml"></div>
        <div class="subSection" *ngIf="climatologys?.length > 0">  
            <div class="subSectionContent" *ngFor="let climatology of climatologys">
            <h2 class="subSectionTitle">{{ climatology.climatologySubSectionsTitle }} </h2>
            <div class="subSectionContentText" [innerHTML]="climatology.climatologySubSectionsContent | safeHtml"></div>
            </div>
        </div>
        </div>
    
        <div [ngClass]="{'pageBreak': isCheckedclimateRelatedNaturalHazardSection==true, 'section' : countryName != '' }" *ngIf="(isDisplayclimateRelatedNaturalHazardSection === true) && (climateRelatedNaturalHazardMainSection != '' || climateRelatedNaturalHazards?.length > 0 || climateRelatedNaturalHazardFooterLinks)">
        <div class="mainTitleWrap">
            <h1 class="mainTitle fancyArrow">Climate Related Natural Hazards</h1>
        </div>
        <div *ngIf="climateRelatedNaturalHazardMainSection" class="mainSection" [innerHTML]="climateRelatedNaturalHazardMainSection | safeHtml"></div>
        <div class="subSection" *ngIf="climateRelatedNaturalHazards?.length > 0">  
            <div class="subSectionContent" *ngFor="let climateRelatedNaturalHazard of climateRelatedNaturalHazards">
                <h2 class="subSectionTitle">{{ climateRelatedNaturalHazard.climateRelatedNaturalHazardSubSectionsTitle }} </h2>
                <div class="subSectionContentText" [innerHTML]="climateRelatedNaturalHazard.climateRelatedNaturalHazardSubSectionsContent | safeHtml"></div>
            </div>
        </div>
        </div>
    
        <div [ngClass]="{'pageBreak': isCheckedclimateChangeImpactSection==true, 'section' : countryName != '' }" *ngIf="(isDisplayclimateChangeImpactSection === true) && (climateChangeImpactMainSection != '' || climateChangeImpacts?.length > 0 || climateChangeImpactFooterLinks)">
        <div class="mainTitleWrap">
            <h1 class="mainTitle fancyArrow">Climate Change Impacts</h1>
        </div>
        <div *ngIf="climateChangeImpactMainSection" class="mainSection" [innerHTML]="climateChangeImpactMainSection | safeHtml"></div>
        <div class="subSection" *ngIf="climateChangeImpacts?.length > 0">  
            <div class="subSectionContent" *ngFor="let climateChangeImpact of climateChangeImpacts">
                <h2 class="subSectionTitle">{{ climateChangeImpact.climateChangeImpactSubSectionsTitle }} </h2>
                <div class="subSectionContentText" [innerHTML]="climateChangeImpact.climateChangeImpactSubSectionsContent | safeHtml"></div>
            </div>
        </div>
        </div>
    
        <div [ngClass]="{'pageBreak': isCheckedpoliciesAndProgramSection==true, 'section' : countryName != '' }" *ngIf="(isDisplaypoliciesAndProgramSection === true) && (policiesAndProgramMainSection != '' || policiesAndPrograms?.length > 0 || policiesAndProgramFooterLinks)">
        <div class="mainTitleWrap">
            <h1 class="mainTitle fancyArrow">Policies And Programs</h1>
        </div>
        <div *ngIf="policiesAndProgramMainSection" class="mainSection" [innerHTML]="policiesAndProgramMainSection | safeHtml"></div>
        <div class="subSection" *ngIf="policiesAndPrograms?.length > 0">  
            <div class="subSectionContent" *ngFor="let policiesAndProgram of policiesAndPrograms">
            <h2 class="subSectionTitle">{{ policiesAndProgram.policiesAndProgramSubSectionsTitle }} </h2>
            <div class="subSectionContentText" [innerHTML]="policiesAndProgram.policiesAndProgramSubSectionsContent"></div>
            </div>
        </div>
        </div>
    
        <div [ngClass]="{'pageBreak': isCheckedadaptationSection==true, 'section' : countryName != '' }" *ngIf="(isDisplayadaptationSection === true) && (adaptationMainSection != '' || adaptations?.length > 0 || adaptationFooterLinks)">
        <div class="mainTitleWrap">
            <h1 class="mainTitle fancyArrow">Adaptation</h1>
        </div>
        <div *ngIf="adaptationMainSection" class="mainSection" [innerHTML]="adaptationMainSection | safeHtml"></div>
        <div class="subSection" *ngIf="adaptations?.length > 0">  
            <div class="subSectionContent" *ngFor="let adaptation of adaptations">
            <h2 class="subSectionTitle">{{ adaptation.adaptationSubSectionsTitle }} </h2>
            <div class="subSectionContentText" [innerHTML]="adaptation.adaptationSubSectionsContent | safeHtml"></div>
            </div>
        </div>
        </div>
    </div>

    <div class="pdfContent">
        <div class="pageBreak section" style="margin-top: 50px;">
          <div class="mainTitleWrap"><h1 class="mainTitle fancyArrow">References</h1></div>
          <div *ngIf="forewordFooterLinks" class="footerSection" [innerHTML]="forewordFooterLinks | safeHtml"></div>
          <div *ngIf="keyMessageFooterLinks" class="footerSection" [innerHTML]="keyMessageFooterLinks | safeHtml"></div>
          <div *ngIf="countryOverviewFooterLinks" class="footerSection" [innerHTML]="countryOverviewFooterLinks | safeHtml"></div>
          <div *ngIf="climatologyFooterLinks" class="footerSection" [innerHTML]="climatologyFooterLinks | safeHtml"></div>
          <div *ngIf="climateRelatedNaturalHazardFooterLinks" class="footerSection" [innerHTML]="climateRelatedNaturalHazardFooterLinks | safeHtml"></div>
          <div *ngIf="climateChangeImpactFooterLinks" class="footerSection" [innerHTML]="climateChangeImpactFooterLinks | safeHtml"></div>
          <div *ngIf="policiesAndProgramFooterLinks" class="footerSection" [innerHTML]="policiesAndProgramFooterLinks | safeHtml"></div>
          <div *ngIf="adaptationFooterLinks" class="footerSection" [innerHTML]="adaptationFooterLinks | safeHtml"></div>
        </div>
      </div>

    <div class="pdfContent pageBreak">
        <div class="cover" [ngStyle]="{'background-image': 'url(' + primaryImageURLSrc + ')'}">
        <div class="coverWrap">
            <div class="coverClip" [ngStyle]="{'background-image': 'url(' + secondaryImageURLSrc + ')'}"></div>
        </div>
        <div class="coverClipBottom"></div>
        <div class="coverTitle">
            <div class="heading">CLIMATE RISK COUNTRY PROFILE</div>
            <div class="fancyArrowCover country">{{ countryName }}</div>
        </div>
        <div class="row coverFooter">
            <div class="col left" style="text-align: left">
            <a href="https://www.worldbank.org/" target="_blank">
                <img src="./../../../assets/images/logo/ci_2.png"/>
            </a>
            </div>
            <div class="col right" style="text-align: right" *ngIf="(isAdbProfile === true)">
            <a href="https://www.adb.org/" target="_blank">
                <img src="{{ adbWbLogoImageURL }}" *ngIf="adbWbLogoImageURL != ''; else defaultAdbWbLogoImageURL"/>
                <ng-template #defaultAdbWbLogoImageURL>
                <img src="./../../../assets/images/logo/ci_3.png"/>
                </ng-template>
            </a>
            </div>
        </div>
        </div>
    </div>
</div>