<div class="container-fluid container-top">
    <div class="loaderStyle" *ngIf="loading">
        <div class="spinner-grow text-primary" role="status">
            <span class="sr-only"></span>
        </div>
    </div>
    <div class="row mb-3">
        <h4 class="col-md-12 mainHeading pb-2">Update Profile for <span
                style="color: #014d99;">{{ countryName }} - {{countryProfileTitle}}</span><span class="span-fa-icon"
                style="float: right;padding: 0;" (click)="AllfatchAPI()"><a title="Refresh All Sections From API"><i
                        class="fa fa-refresh" aria-hidden="true"></i></a></span></h4>
    </div>
    <div class="row create-country-profile-form">
        <div class="col-sm-12">
            <form [formGroup]="form" (ngSubmit)="submit()">
                <div class="accordion" id="accordionExample">
                    <div class="card">
                        <div class="card-header" id="acknowledgementSection">
                            <div class="row align-items-center">
                                <div class="col" [ngClass]="{'isHidden': isDisplayAcknowledgementSection === false}">
                                    <button class="btn btn-block mp-0 collapsed"
                                        [ngClass]="{'collapsed': isDisplayAcknowledgementSection === true}" type="button"
                                        data-toggle="collapse" data-target="#acknowledgementCollapse" aria-expanded="true"
                                        aria-controls="forewordCollapse">
                                        <i class="fa fa-minus"></i> Acknowledgement / Disclaimer
                                    </button>
                                </div>
                                <div class="col-3 span-icon-pd">
                                    <span *ngIf="isDisplayAcknowledgementSection" class="span-fa-icon"><input title="Start Section On New Page" type="checkbox" [(ngModel)]="isCheckedAcknowledgementSection"
                                        formControlName="isCheckedAcknowledgementSection" (change)="toggleAcknowledgementSection($event)" disabled></span>
                                    <span *ngIf="isDisplayAcknowledgementSection" class="span-fa-icon"
                                        (click)="fatchAPIacknowledgementSection()"><a title="Refresh Section From API"><i class="fa fa-refresh"
                                                aria-hidden="true"></i></a></span>
                                    <span *ngIf="isDisplayAcknowledgementSection" class="span-fa-icon"
                                        (click)="isInActiveAcknowledgementSection()"><a title="Hide Section"><i class="fa fa-eye-slash"
                                                aria-hidden="true"></i></a></span>
                                    <span *ngIf="!isDisplayAcknowledgementSection" class="span-fa-icon"
                                        (click)="isActiveAcknowledgementSection()"><a title="Restore Section"><i class="fa fa-window-restore"
                                                aria-hidden="true"></i></a></span>
                                </div>
                            </div>
                        </div>
                        <div id="acknowledgementCollapse" class="collapse" aria-labelledby="acknowlwdgementSection"
                            data-parent="#accordionExample" *ngIf="isDisplayAcknowledgementSection">
                            <div class="card-body">
                                <div class="form-group row" style="margin-bottom: 0px;">
                                    <div class="form-group col-12">
                                        <ejs-richtexteditor [pasteCleanupSettings]="pasteCleanupSettings"  [insertImageSettings]='insertImageSettings' [placeholder]='placeholderContent'
                                            id='acknowledgementMainSection' formControlName="acknowledgementMainSection"
                                            [fontFamily]="fontFamily" [toolbarSettings]='tools' [backgroundColor]='backgroundColor'
                                                [fontColor]='fontColor'>
                                        </ejs-richtexteditor>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header" id="forewordSection">
                            <div class="row align-items-center">
                                <div class="col" [ngClass]="{'isHidden': isDisplayforewordSection === false}">
                                    <button class="btn btn-block mp-0 collapsed"
                                        [ngClass]="{'collapsed': isDisplayforewordSection === true}" type="button"
                                        data-toggle="collapse" data-target="#forewordCollapse" aria-expanded="true"
                                        aria-controls="forewordCollapse">
                                        <i class="fa fa-minus"></i> Foreword
                                    </button>
                                </div>
                                <div class="col-3 span-icon-pd">
                                    <span *ngIf="isDisplayforewordSection" class="span-fa-icon"><input title="Start Section On New Page" type="checkbox" [(ngModel)]="isCheckedforewordSection"
                                        formControlName="isCheckedforewordSection" (change)="toggleForewordSection($event)"></span>
                                    <span *ngIf="isDisplayforewordSection" class="span-fa-icon"
                                        (click)="fatchAPIforewordSection()"><a title="Refresh Section From API"><i
                                                class="fa fa-refresh" aria-hidden="true"></i></a></span>
                                    <span *ngIf="isDisplayforewordSection" class="span-fa-icon"
                                        (click)="isInActiveForewordSection()"><a title="Hide Section"><i class="fa fa-eye-slash"
                                                aria-hidden="true"></i></a></span>
                                    <span *ngIf="!isDisplayforewordSection" class="span-fa-icon"
                                        (click)="isActiveForewordSection()"><a title="Restore Section"><i
                                                class="fa fa-window-restore" aria-hidden="true"></i></a></span>
                                </div>
                            </div>
                        </div>
                        <div id="forewordCollapse" class="collapse" aria-labelledby="forewordSection"
                            data-parent="#accordionExample" *ngIf="isDisplayforewordSection">
                            <div class="card-body">
                                <div class="form-group row" style="margin-bottom: 0px;">
                                    <div class="form-group col-12">
                                        <ejs-richtexteditor [pasteCleanupSettings]="pasteCleanupSettings"  [insertImageSettings]='insertImageSettings'
                                            [placeholder]='placeholderContent' id='forewordMainSection'
                                            formControlName="forewordMainSection" [fontFamily]="fontFamily"
                                            [toolbarSettings]='tools'  [backgroundColor]='backgroundColor' [fontColor] ='fontColor'></ejs-richtexteditor>
                                    </div>
                                </div>
                                <div class="row sub-section" formArrayName="forewords">
                                    <div class="sub-section-content"
                                        *ngFor="let foreword of forewordFormGroup.controls; let i = index; let first = first; let last = last">
                                        <div [formGroupName]="i" class="row ">
                                            <div class="form-group row col-12">
                                                <div class="col">
                                                    <input class="form-control" id="forewordSubSectionsTitle_{{ i }}"
                                                        formControlName="forewordSubSectionsTitle" type="text"
                                                        placeholder="Enter Sub Section Title">
                                                        <div class="invalid-feedback"
                                                            *ngIf="isSubmitted && this.myCountryProfileForm['forewords']['controls'][i]['controls'].forewordSubSectionsTitle.errors?.required">
                                                            Title is required*.
                                                        </div>
                                                </div>
                                                <div class="col sub-section-col-fa text-right">
                                                    <!-- <button class="btn btn-danger {{ i }}" type="button" (click)="removeforewordSubSection(i)"> Delete </button> -->
                                                    <!-- <span class="span-fa-icon"><input title="Start Sub Section On New Page" type="checkbox" [checked]="foreword.index"
                                                	        formControlName="isCheckedforewordSubSections" (change)="toggleforewordSubSection($event)"></span> -->
                                                    <span class="span-fa-icon-sub" [ngClass]="{ 'disabled' : first }"><a
                                                            title="Move up"
                                                            (click)="moveUp(i, forewordFormGroup.controls)"><i
                                                                class="fa fa-arrow-up"
                                                                aria-hidden="true"></i></a></span>
                                                    <span class="span-fa-icon-sub" [ngClass]="{ 'disabled' : last }"><a
                                                            title="Move down"
                                                            (click)="moveDown(i, forewordFormGroup.controls)"><i
                                                                class="fa fa-arrow-down"
                                                                aria-hidden="true"></i></a></span>
                                                    <!-- <span class="span-fa-icon-sub"><a title="Refresh Section From API"><i class="fa fa-refresh" aria-hidden="true"></i></a></span> -->
                                                    <span class="span-fa-icon-sub"
                                                        (click)="removeforewordSubSection(i)"><a title="Delete"><i
                                                                class="fa fa-trash-o" aria-hidden="true"></i></a></span>
                                                </div>
                                            </div>
                                            <div class="form-group col-12">
                                                <ejs-richtexteditor [pasteCleanupSettings]="pasteCleanupSettings"  [insertImageSettings]='insertImageSettings'
                                                    [placeholder]='placeholderContent'
                                                    id='forewordSubSectionsContent_{{ i }}'
                                                    formControlName="forewordSubSectionsContent"
                                                    [fontFamily]="fontFamily" [toolbarSettings]='tools'  [backgroundColor]='backgroundColor' [fontColor] ='fontColor'>
                                                </ejs-richtexteditor>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group row select-section align-items-center">
                                    <h5 class="col-lg-3 mb-lg-0">Select Sub-Section</h5>
                                    <div class="col-sm-6 mb-2 mb-sm-0">
                                        <select class="form-control">
                                            <option value="custom">Custom</option>
                                        </select>
                                    </div>
                                    <div class="col-sm-6 col-lg-3">
                                        <button class="btn btn-primary" type="button" (click)="addforewordSubSection()">
                                            Create Sub-Section </button>
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <div class="form-group col-12">
                                        <ejs-richtexteditor [pasteCleanupSettings]="pasteCleanupSettings"  [insertImageSettings]='insertImageSettings'
                                            [placeholder]='placeholderFooter' id='forewordFooterLinks'
                                            formControlName="forewordFooterLinks" [fontFamily]="fontFamily"
                                            [toolbarSettings]='tools' [backgroundColor]='backgroundColor' [fontColor] ='fontColor'></ejs-richtexteditor >
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="card">
                        <div class="card-header" id="keyMessageSection">
                            <div class="row align-items-center">
                                <div class="col" [ngClass]="{'isHidden': isDisplaykeyMessageSection === false}">
                                    <button class="btn btn-block mp-0 collapsed"
                                        [ngClass]="{'collapsed': isDisplaykeyMessageSection === true}" type="button"
                                        data-toggle="collapse" data-target="#keyMessageCollapse" aria-expanded="true"
                                        aria-controls="keyMessageCollapse">
                                        <i class="fa fa-minus"></i> Key Messages
                                    </button>
                                </div>

                                <div class="col-3 span-icon-pd">
                                    <span *ngIf="isDisplaykeyMessageSection" class="span-fa-icon"><input title="Start Section On New Page" type="checkbox" [(ngModel)]="isCheckedkeyMessageSection"
                                        formControlName="isCheckedkeyMessageSection" (change)="toggleKeyMessageSection($event)"></span>
                                    <span *ngIf="isDisplaykeyMessageSection" class="span-fa-icon"
                                        (click)="fatchAPIkeyMessageSection()"><a title="Refresh Section From API"><i
                                                class="fa fa-refresh" aria-hidden="true"></i></a></span>
                                    <span *ngIf="isDisplaykeyMessageSection" class="span-fa-icon"
                                        (click)="isInActivekeyMessageSection()"><a title="Hide Section"><i
                                                class="fa fa-eye-slash" aria-hidden="true"></i></a></span>
                                    <span *ngIf="!isDisplaykeyMessageSection" class="span-fa-icon"
                                        (click)="isActivekeyMessageSection()"><a title="Restore Section"><i
                                                class="fa fa-window-restore" aria-hidden="true"></i></a></span>
                                </div>
                            </div>
                        </div>
                        <div id="keyMessageCollapse" class="collapse" aria-labelledby="keyMessageSection"
                            data-parent="#accordionExample" *ngIf="isDisplaykeyMessageSection">
                            <div class="card-body">
                                <div class="form-group row" style="margin-bottom: 0px;">
                                    <div class="form-group col-12">
                                        <ejs-richtexteditor [pasteCleanupSettings]="pasteCleanupSettings"  [insertImageSettings]='insertImageSettings'
                                            [placeholder]='placeholderContent'
                                            id='keyMessageMainSection'
                                            formControlName="keyMessageMainSection" [fontFamily]="fontFamily"
                                            [toolbarSettings]='tools' [backgroundColor]='backgroundColor' [fontColor] ='fontColor'></ejs-richtexteditor>
                                    </div>
                                </div>
                                <div class="row sub-section" formArrayName="keyMessages">
                                    <div class="sub-section-content"
                                        *ngFor="let keyMessage of keyMessageFormGroup.controls; let i = index; let first = first; let last = last">
                                        <div [formGroupName]="i" class="row ">
                                            <div class="form-group row col-12">
                                                <div class="col">
                                                    <input class="form-control" id="keyMessageSubSectionsTitle_{{ i }}"
                                                        formControlName="keyMessageSubSectionsTitle"
                                                        placeholder="Enter Sub Section Title">
                                                        <div class="invalid-feedback"
                                                            *ngIf="isSubmitted && this.myCountryProfileForm['keyMessages']['controls'][i]['controls'].keyMessageSubSectionsTitle.errors?.required">
                                                            Title is required*.
                                                        </div>
                                                </div>
                                                <div class="col sub-section-col-fa text-right">
                                                    <!-- <span class="span-fa-icon"><input title="Start Sub Section On New Page" type="checkbox" [checked]="keyMessage.index"
                                                            formControlName="isCheckedkeyMessageSubSections" (change)="togglekeyMessageSubSections($event)"></span> -->
                                                    <!-- <button class="btn btn-danger {{ i }}" type="button" (click)="removekeyMessageSubSection(i)"> Delete </button> -->
                                                    <span class="span-fa-icon-sub" [ngClass]="{ 'disabled' : first }"><a
                                                            title="Move up"
                                                            (click)="moveUp(i, keyMessageFormGroup.controls)"><i
                                                                class="fa fa-arrow-up"
                                                                aria-hidden="true"></i></a></span>
                                                    <span class="span-fa-icon-sub" [ngClass]="{ 'disabled' : last }"><a
                                                            title="Move down"
                                                            (click)="moveDown(i, keyMessageFormGroup.controls)"><i
                                                                class="fa fa-arrow-down"
                                                                aria-hidden="true"></i></a></span>
                                                    <!-- <span class="span-fa-icon-sub"><a title="Refresh Section From API"><i class="fa fa-refresh" aria-hidden="true"></i></a></span> -->
                                                    <span class="span-fa-icon-sub"
                                                        (click)="removekeyMessageSubSection(i)"><a title="Delete"><i
                                                                class="fa fa-trash-o" aria-hidden="true"></i></a></span>
                                                </div>
                                            </div>
                                            <div class="form-group col-12">
                                                <ejs-richtexteditor [pasteCleanupSettings]="pasteCleanupSettings"  [insertImageSettings]='insertImageSettings'
                                                    [placeholder]='placeholderContent'
                                                    id='keyMessageSubSectionsContent_{{ i }}'
                                                    formControlName="keyMessageSubSectionsContent"
                                                    [fontFamily]="fontFamily" [toolbarSettings]='tools' [backgroundColor]='backgroundColor' [fontColor] ='fontColor'>
                                                </ejs-richtexteditor>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group row select-section align-items-center">
                                    <h5 class="col-lg-3 mb-lg-0">Select Sub-Section</h5>
                                    <div class="col-sm-6 mb-2 mb-sm-0">
                                        <select class="form-control">
                                            <option value="custom">Custom</option>
                                        </select>
                                    </div>
                                    <div class="col-sm-6 col-lg-3">
                                        <button class="btn btn-primary" type="button"
                                            (click)="addkeyMessageSubSection()"> Create Sub-Section </button>
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <div class="form-group col-12">
                                        <ejs-richtexteditor [pasteCleanupSettings]="pasteCleanupSettings"  [insertImageSettings]='insertImageSettings'
                                            [placeholder]='placeholderFooter' id='keyMessageFooterLinks'
                                            formControlName="keyMessageFooterLinks" [fontFamily]="fontFamily"
                                            [toolbarSettings]='tools' [backgroundColor]='backgroundColor' [fontColor] ='fontColor'></ejs-richtexteditor>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="card">
                        <div class="card-header" id="countryOverviewSection">
                            <div class="row align-items-center">
                                <div class="col" [ngClass]="{'isHidden': isDisplaycountryOverviewSection === false}">
                                    <button class="btn btn-block mp-0 collapsed"
                                        [ngClass]="{'collapsed': isDisplaycountryOverviewSection === true}"
                                        type="button" data-toggle="collapse" data-target="#countryOverviewCollapse"
                                        aria-expanded="true" aria-controls="countryOverviewCollapse">
                                        <i class="fa fa-minus"></i> Country Overview
                                    </button>
                                </div>

                                <div class="col-3 span-icon-pd">
                                    <span *ngIf="isDisplaycountryOverviewSection" class="span-fa-icon"><input title="Start Section On New Page" type="checkbox" [(ngModel)]="isCheckedcountryOverviewSection"
                                        formControlName="isCheckedcountryOverviewSection" (change)="togglecountryOverviewSection($event)"></span>
                                    <span *ngIf="isDisplaycountryOverviewSection" class="span-fa-icon"
                                        (click)="fatchAPIcountryOverviewSection()"><a title="Refresh Section From API"><i
                                                class="fa fa-refresh" aria-hidden="true"></i></a></span>
                                    <span *ngIf="isDisplaycountryOverviewSection" class="span-fa-icon"
                                        (click)="isInActivecountryOverviewSection()"><a title="Hide Section"><i
                                                class="fa fa-eye-slash" aria-hidden="true"></i></a></span>
                                    <span *ngIf="!isDisplaycountryOverviewSection" class="span-fa-icon"
                                        (click)="isActivecountryOverviewSection()"><a title="Restore Section"><i
                                                class="fa fa-window-restore" aria-hidden="true"></i></a></span>
                                </div>
                            </div>
                        </div>
                        <div id="countryOverviewCollapse" class="collapse" aria-labelledby="countryOverviewSection"
                            data-parent="#accordionExample" *ngIf="isDisplaycountryOverviewSection">
                            <div class="card-body">
                                <div class="form-group row" style="margin-bottom: 0px;">
                                    <div class="form-group col-12">
                                        <ejs-richtexteditor [pasteCleanupSettings]="pasteCleanupSettings"  [insertImageSettings]='insertImageSettings'
                                            [placeholder]='placeholderContent' id='countryOverviewMainSection'
                                            formControlName="countryOverviewMainSection" [fontFamily]="fontFamily"
                                            [toolbarSettings]='tools' [backgroundColor]='backgroundColor' [fontColor] ='fontColor'></ejs-richtexteditor>
                                    </div>
                                </div>
                                <div class="row sub-section" formArrayName="countryOverviews">
                                    <div class="sub-section-content"
                                        *ngFor="let countryOverview of countryOverviewFormGroup.controls; let i = index; let first = first; let last = last">
                                        <div [formGroupName]="i" class="row ">
                                            <div class="form-group row col-12">
                                                <div class="col">
                                                    <input class="form-control"
                                                        id="countryOverviewSubSectionsTitle_{{ i }}"
                                                        formControlName="countryOverviewSubSectionsTitle"
                                                        placeholder="Enter Sub Section Title">
                                                        <div class="invalid-feedback"
                                                            *ngIf="isSubmitted && this.myCountryProfileForm['countryOverviews']['controls'][i]['controls'].countryOverviewSubSectionsTitle.errors?.required">
                                                            Title is required*.
                                                        </div>
                                                </div>
                                                <div class="col sub-section-col-fa text-right">
                                                    <!-- <span class="span-fa-icon"><input title="Start Sub Section On New Page" type="checkbox" [checked]="countryOverview.index"
                                                            formControlName="isCheckedcountryOverviewSubSections" (change)="togglecountryOverviewSubSection($event)"></span> -->
                                                    <!-- <button class="btn btn-danger {{ i }}" type="button" (click)="removecountryOverviewSubSection(i)"> Delete </button> -->
                                                    <span class="span-fa-icon-sub" [ngClass]="{ 'disabled' : first }"><a
                                                            title="Move up"
                                                            (click)="moveUp(i, countryOverviewFormGroup.controls)"><i
                                                                class="fa fa-arrow-up"
                                                                aria-hidden="true"></i></a></span>
                                                    <span class="span-fa-icon-sub" [ngClass]="{ 'disabled' : last }"><a
                                                            title="Move down"
                                                            (click)="moveDown(i, countryOverviewFormGroup.controls)"><i
                                                                class="fa fa-arrow-down"
                                                                aria-hidden="true"></i></a></span>
                                                    <!-- <span class="span-fa-icon-sub"><a title="Refresh Section From API"><i class="fa fa-refresh" aria-hidden="true"></i></a></span> -->
                                                    <span class="span-fa-icon-sub"
                                                        (click)="removecountryOverviewSubSection(i)"><a
                                                            title="Delete"><i class="fa fa-trash-o"
                                                                aria-hidden="true"></i></a></span>
                                                </div>
                                            </div>
                                            <div class="form-group col-12">
                                                <ejs-richtexteditor [pasteCleanupSettings]="pasteCleanupSettings"  [insertImageSettings]='insertImageSettings'
                                                    [placeholder]='placeholderContent'
                                                    id='countryOverviewSubSectionsContent_{{ i }}'
                                                    formControlName="countryOverviewSubSectionsContent"
                                                    [fontFamily]="fontFamily" [toolbarSettings]='tools'[backgroundColor]='backgroundColor' [fontColor] ='fontColor'>
                                                </ejs-richtexteditor>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group row select-section align-items-center">
                                    <h5 class="col-lg-3 mb-lg-0">Select Sub-Section</h5>
                                    <div class="col-sm-6 mb-2 mb-sm-0">
                                        <select class="form-control">
                                            <option value="custom">Custom</option>
                                        </select>
                                    </div>
                                    <div class="col-sm-6 col-lg-3">
                                        <button class="btn btn-primary" type="button"
                                            (click)="addcountryOverviewSubSection()"> Create Sub-Section </button>
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <div class="form-group col-12">
                                        <ejs-richtexteditor [pasteCleanupSettings]="pasteCleanupSettings"  [insertImageSettings]='insertImageSettings'
                                            [placeholder]='placeholderFooter' id='countryOverviewFooterLinks'
                                            formControlName="countryOverviewFooterLinks" [fontFamily]="fontFamily"
                                            [toolbarSettings]='tools' [backgroundColor]='backgroundColor' [fontColor] ='fontColor'></ejs-richtexteditor>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="card">
                        <div class="card-header" id="climatologySection">
                            <div class="row align-items-center">
                                <div class="col" [ngClass]="{'isHidden': isDisplayclimatologySection === false}">
                                    <button class="btn btn-block mp-0 collapsed"
                                        [ngClass]="{'collapsed': isDisplayclimatologySection === true}" type="button"
                                        data-toggle="collapse" data-target="#climatologyCollapse" aria-expanded="true"
                                        aria-controls="climatologyCollapse">
                                        <i class="fa fa-minus"></i> Climatology
                                    </button>
                                </div>

                                <div class="col-3 span-icon-pd">
                                    <span *ngIf="isDisplayclimatologySection" class="span-fa-icon"><input title="Start Section On New Page" type="checkbox" [(ngModel)]="isCheckedclimatologySection"
                                        formControlName="isCheckedclimatologySection" (change)="toggleClimatologySection($event)"></span>
                                    <span *ngIf="isDisplayclimatologySection" class="span-fa-icon"
                                        (click)="fatchAPIclimatologySection()"><a title="Refresh Section From API"><i
                                                class="fa fa-refresh" aria-hidden="true"></i></a></span>
                                    <span *ngIf="isDisplayclimatologySection" class="span-fa-icon"
                                        (click)="isInActiveclimatologySection()"><a title="Hide Section"><i
                                                class="fa fa-eye-slash" aria-hidden="true"></i></a></span>
                                    <span *ngIf="!isDisplayclimatologySection" class="span-fa-icon"
                                        (click)="isActiveclimatologySection()"><a title="Restore Section"><i
                                                class="fa fa-window-restore" aria-hidden="true"></i></a></span>
                                </div>
                            </div>
                        </div>
                        <div id="climatologyCollapse" class="collapse" aria-labelledby="climatologySection"
                            data-parent="#accordionExample" *ngIf="isDisplayclimatologySection">
                            <div class="card-body">
                                <div class="form-group row" style="margin-bottom: 0px;">
                                    <div class="form-group col-12">
                                        <ejs-richtexteditor [pasteCleanupSettings]="pasteCleanupSettings"  [insertImageSettings]='insertImageSettings'
                                            [placeholder]='placeholderContent' id='climatologyMainSection'
                                            formControlName="climatologyMainSection" [fontFamily]="fontFamily"
                                            [toolbarSettings]='tools' [backgroundColor]='backgroundColor' [fontColor] ='fontColor'></ejs-richtexteditor>
                                    </div>
                                </div>
                                <div class="row sub-section" formArrayName="climatologys">
                                    <div class="sub-section-content"
                                        *ngFor="let climatology of climatologyFormGroup.controls; let i = index; let first = first; let last = last">
                                        <div [formGroupName]="i" class="row ">
                                            <div class="form-group row col-12">
                                                <div class="col">
                                                    <input class="form-control" id="climatologySubSectionsTitle_{{ i }}"
                                                        formControlName="climatologySubSectionsTitle"
                                                        placeholder="Enter Sub Section Title">
                                                        <div class="invalid-feedback"
                                                            *ngIf="isSubmitted && this.myCountryProfileForm['climatologys']['controls'][i]['controls'].climatologySubSectionsTitle.errors?.required">
                                                            Title is required*.
                                                        </div>
                                                </div>
                                                <div class="col sub-section-col-fa text-right">
                                                    <!-- <span class="span-fa-icon"><input title="Start Sub Section On New Page" type="checkbox" [checked]="climatology.index"
                                                            formControlName="isCheckedclimatologySubSections" (change)="toggleclimatologySubSections($event)"></span> -->
                                                    <!-- <button class="btn btn-danger {{ i }}" type="button" (click)="removeclimatologySubSection(i)"> Delete </button> -->
                                                    <span class="span-fa-icon-sub" [ngClass]="{ 'disabled' : first }"><a
                                                            title="Move up"
                                                            (click)="moveUp(i, climatologyFormGroup.controls)"><i
                                                                class="fa fa-arrow-up"
                                                                aria-hidden="true"></i></a></span>
                                                    <span class="span-fa-icon-sub" [ngClass]="{ 'disabled' : last }"><a
                                                            title="Move down"
                                                            (click)="moveDown(i, climatologyFormGroup.controls)"><i
                                                                class="fa fa-arrow-down"
                                                                aria-hidden="true"></i></a></span>
                                                    <!-- <span class="span-fa-icon-sub"><a title="Refresh Section From API"><i class="fa fa-refresh" aria-hidden="true"></i></a></span> -->
                                                    <span class="span-fa-icon-sub"
                                                        (click)="removeclimatologySubSection(i)"><a title="Delete"><i
                                                                class="fa fa-trash-o" aria-hidden="true"></i></a></span>
                                                </div>
                                            </div>
                                            <div class="form-group col-12">
                                                <ejs-richtexteditor [pasteCleanupSettings]="pasteCleanupSettings"  [insertImageSettings]='insertImageSettings'
                                                    [placeholder]='placeholderContent'
                                                    id='climatologySubSectionsContent_{{ i }}'
                                                    formControlName="climatologySubSectionsContent"
                                                    [fontFamily]="fontFamily" [toolbarSettings]='tools' [backgroundColor]='backgroundColor' [fontColor] ='fontColor'>
                                                </ejs-richtexteditor>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group row select-section align-items-center">
                                    <h5 class="col-lg-3 mb-lg-0">Select Sub-Section</h5>
                                    <div class="col-sm-6 mb-2 mb-sm-0">
                                        <select formControlName="climatologySubSectionsType" class="form-control">
                                            <option *ngFor="let climatologyOption of climatologyOptions"
                                                [ngValue]="climatologyOption">{{ climatologyOption }}</option>
                                        </select>
                                    </div>
                                    <div class="col-sm-6 col-lg-3">
                                        <button class="btn btn-primary" type="button"
                                            (click)="addclimatologySubSection()"> Create Sub-Section </button>
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <div class="form-group col-12">
                                        <ejs-richtexteditor [pasteCleanupSettings]="pasteCleanupSettings"  [insertImageSettings]='insertImageSettings'
                                            [placeholder]='placeholderFooter' id='climatologyFooterLinks'
                                            formControlName="climatologyFooterLinks" [fontFamily]="fontFamily"
                                            [toolbarSettings]='tools' [backgroundColor]='backgroundColor' [fontColor] ='fontColor'></ejs-richtexteditor>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="card">
                        <div class="card-header" id="climateRelatedNaturalHazardSection">
                            <div class="row align-items-center">
                                <div class="col"
                                    [ngClass]="{'isHidden': isDisplayclimateRelatedNaturalHazardSection === false}">
                                    <button class="btn btn-block mp-0 collapsed"
                                        [ngClass]="{'collapsed': isDisplayclimateRelatedNaturalHazardSection === true}"
                                        type="button" data-toggle="collapse"
                                        data-target="#climateRelatedNaturalHazardCollapse" aria-expanded="true"
                                        aria-controls="climateRelatedNaturalHazardCollapse">
                                        <i class="fa fa-minus"></i> Climate Related Natural Hazards
                                    </button>
                                </div>

                                <div class="col-3 span-icon-pd">
                                    <span *ngIf="isDisplayclimateRelatedNaturalHazardSection" class="span-fa-icon">
                                        <input title="Start Section On New Page" type="checkbox" [(ngModel)]="isCheckedclimateRelatedNaturalHazardSection"
                                        formControlName="isCheckedclimateRelatedNaturalHazardSection"
                                            (change)="toggleClimateRelatedNaturalHazardSection($event)"></span>

                                    <span *ngIf="isDisplayclimateRelatedNaturalHazardSection" class="span-fa-icon"
                                        (click)="fatchAPIclimateRelatedNaturalHazardSection()"><a
                                            title="Refresh Section From API"><i class="fa fa-refresh"
                                                aria-hidden="true"></i></a></span>
                                    <span *ngIf="isDisplayclimateRelatedNaturalHazardSection" class="span-fa-icon"
                                        (click)="isInActiveclimateRelatedNaturalHazardSection()"><a title="Hide Section"><i
                                                class="fa fa-eye-slash" aria-hidden="true"></i></a></span>
                                    <span *ngIf="!isDisplayclimateRelatedNaturalHazardSection" class="span-fa-icon"
                                        (click)="isActiveclimateRelatedNaturalHazardSection()"><a title="Restore Section"><i
                                                class="fa fa-window-restore" aria-hidden="true"></i></a></span>
                                </div>
                            </div>
                        </div>
                        <div id="climateRelatedNaturalHazardCollapse" class="collapse"
                            aria-labelledby="climateRelatedNaturalHazardSection" data-parent="#accordionExample"
                            *ngIf="isDisplayclimateRelatedNaturalHazardSection">
                            <div class="card-body">
                                <div class="form-group row" style="margin-bottom: 0px;">
                                    <div class="form-group col-12">
                                        <ejs-richtexteditor [pasteCleanupSettings]="pasteCleanupSettings"  [insertImageSettings]='insertImageSettings'
                                            [placeholder]='placeholderContent'
                                            id='climateRelatedNaturalHazardMainSection'
                                            formControlName="climateRelatedNaturalHazardMainSection"
                                            [fontFamily]="fontFamily" [toolbarSettings]='tools' [backgroundColor]='backgroundColor' [fontColor] ='fontColor'></ejs-richtexteditor>
                                    </div>
                                </div>
                                <div class="row sub-section" formArrayName="climateRelatedNaturalHazards">
                                    <div class="sub-section-content"
                                        *ngFor="let climateRelatedNaturalHazard of climateRelatedNaturalHazardFormGroup.controls; let i = index; let first = first; let last = last">
                                        <div [formGroupName]="i" class="row ">
                                            <div class="form-group row col-12">
                                                <div class="col">
                                                    <input class="form-control"
                                                        id="climateRelatedNaturalHazardSubSectionsTitle_{{ i }}"
                                                        formControlName="climateRelatedNaturalHazardSubSectionsTitle"
                                                        placeholder="Enter Sub Section Title">
                                                        <div class="invalid-feedback"
                                                            *ngIf="isSubmitted && this.myCountryProfileForm['climateRelatedNaturalHazards']['controls'][i]['controls'].climateRelatedNaturalHazardSubSectionsTitle.errors?.required">
                                                            Title is required*.
                                                        </div>
                                                </div>
                                                <div class="col sub-section-col-fa text-right">
                                                    <!-- <span class="span-fa-icon"><input title="Start Sub Section On New Page" type="checkbox" [checked]="climateRelatedNaturalHazard.index"
                                                            formControlName="isCheckedclimateRelatedNaturalHazardSubSections"
                                                            (change)="toggleclimateRelatedNaturalHazardSubSections($event)"></span> -->

                                                    <!-- <button class="btn btn-danger {{ i }}" type="button" (click)="removeclimateRelatedNaturalHazardSubSection(i)"> Delete </button> -->
                                                    <span class="span-fa-icon-sub" [ngClass]="{ 'disabled' : first }"><a
                                                            title="Move up"
                                                            (click)="moveUp(i, climateRelatedNaturalHazardFormGroup.controls)"><i
                                                                class="fa fa-arrow-up"
                                                                aria-hidden="true"></i></a></span>
                                                    <span class="span-fa-icon-sub" [ngClass]="{ 'disabled' : last }"><a
                                                            title="Move down"
                                                            (click)="moveDown(i, climateRelatedNaturalHazardFormGroup.controls)"><i
                                                                class="fa fa-arrow-down"
                                                                aria-hidden="true"></i></a></span>
                                                    <!-- <span class="span-fa-icon-sub"><a title="Refresh Section From API"><i class="fa fa-refresh" aria-hidden="true"></i></a></span> -->
                                                    <span class="span-fa-icon-sub"
                                                        (click)="removeclimateRelatedNaturalHazardSubSection(i)"><a
                                                            title="Delete"><i class="fa fa-trash-o"
                                                                aria-hidden="true"></i></a></span>
                                                </div>
                                            </div>
                                            <div class="form-group col-12">
                                                <ejs-richtexteditor [pasteCleanupSettings]="pasteCleanupSettings"  [insertImageSettings]='insertImageSettings'
                                                    [placeholder]='placeholderContent'
                                                    id='climateRelatedNaturalHazardSubSectionsContent_{{ i }}'
                                                    formControlName="climateRelatedNaturalHazardSubSectionsContent"
                                                    [fontFamily]="fontFamily" [toolbarSettings]='tools' [backgroundColor]='backgroundColor' [fontColor] ='fontColor'>
                                                </ejs-richtexteditor>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group row select-section align-items-center">
                                    <h5 class="col-lg-3 mb-lg-0">Select Sub-Section</h5>
                                    <div class="col-sm-6 mb-2 mb-sm-0">
                                        <select formControlName="climateRelatedNaturalHazardSubSectionsType"
                                            class="form-control">
                                            <option
                                                *ngFor="let climateRelatedNaturalHazardOption of climateRelatedNaturalHazardOptions"
                                                [ngValue]="climateRelatedNaturalHazardOption">
                                                {{ climateRelatedNaturalHazardOption }}</option>
                                        </select>
                                    </div>
                                    <div class="col-sm-6 col-lg-3">
                                        <button class="btn btn-primary" type="button"
                                            (click)="addclimateRelatedNaturalHazardSubSection()"> Create Sub-Section
                                        </button>
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <div class="form-group col-12">
                                        <ejs-richtexteditor [pasteCleanupSettings]="pasteCleanupSettings"  [insertImageSettings]='insertImageSettings'
                                            [placeholder]='placeholderFooter'
                                            id='climateRelatedNaturalHazardFooterLinks'
                                            formControlName="climateRelatedNaturalHazardFooterLinks"
                                            [fontFamily]="fontFamily" [toolbarSettings]='tools' [backgroundColor]='backgroundColor' [fontColor] ='fontColor'></ejs-richtexteditor>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="card">
                        <div class="card-header" id="climateChangeImpactSection">
                            <div class="row align-items-center">
                                <div class="col"
                                    [ngClass]="{'isHidden': isDisplayclimateChangeImpactSection === false}">
                                    <button class="btn btn-block mp-0 collapsed"
                                        [ngClass]="{'collapsed': isDisplayclimateChangeImpactSection === true}"
                                        type="button" data-toggle="collapse" data-target="#climateChangeImpactCollapse"
                                        aria-expanded="true" aria-controls="climateChangeImpactCollapse">
                                        <i class="fa fa-minus"></i> Climate Change Impacts
                                    </button>
                                </div>

                                <div class="col-3 span-icon-pd">
                                    <span *ngIf="isDisplayclimateChangeImpactSection" class="span-fa-icon">
                                        <input title="Start Section On New Page" type="checkbox" [(ngModel)]="isCheckedclimateChangeImpactSection"
                                        formControlName="isCheckedclimateChangeImpactSection"
                                            (change)="toggleClimateChangeImpactSection($event)"></span>
                                    <span *ngIf="isDisplayclimateChangeImpactSection" class="span-fa-icon"
                                        (click)="fatchAPIclimateChangeImpactSection()"><a title="Refresh Section From API"><i
                                                class="fa fa-refresh" aria-hidden="true"></i></a></span>
                                    <span *ngIf="isDisplayclimateChangeImpactSection" class="span-fa-icon"
                                        (click)="isInActiveclimateChangeImpactSection()"><a title="Hide Section"><i
                                                class="fa fa-eye-slash" aria-hidden="true"></i></a></span>
                                    <span *ngIf="!isDisplayclimateChangeImpactSection" class="span-fa-icon"
                                        (click)="isActiveclimateChangeImpactSection()"><a title="Restore Section"><i
                                                class="fa fa-window-restore" aria-hidden="true"></i></a></span>
                                </div>
                            </div>
                        </div>
                        <div id="climateChangeImpactCollapse" class="collapse"
                            aria-labelledby="climateChangeImpactSection" data-parent="#accordionExample"
                            *ngIf="isDisplayclimateChangeImpactSection">
                            <div class="card-body">
                                <div class="form-group row" style="margin-bottom: 0px;">
                                    <div class="form-group col-12">
                                        <ejs-richtexteditor [pasteCleanupSettings]="pasteCleanupSettings"  [insertImageSettings]='insertImageSettings'
                                            [placeholder]='placeholderContent' id='climateChangeImpactMainSection'
                                            formControlName="climateChangeImpactMainSection" [fontFamily]="fontFamily"
                                            [toolbarSettings]='tools' [backgroundColor]='backgroundColor' [fontColor] ='fontColor'></ejs-richtexteditor>
                                    </div>
                                </div>
                                <div class="row sub-section" formArrayName="climateChangeImpacts">
                                    <div class="sub-section-content"
                                        *ngFor="let climateChangeImpact of climateChangeImpactFormGroup.controls; let i = index; let first = first; let last = last">
                                        <div [formGroupName]="i" class="row ">
                                            <div class="form-group row col-12">
                                                <div class="col">
                                                    <input class="form-control"
                                                        id="climateChangeImpactSubSectionsTitle_{{ i }}"
                                                        formControlName="climateChangeImpactSubSectionsTitle"
                                                        placeholder="Enter Sub Section Title">
                                                        <div class="invalid-feedback"
                                                            *ngIf="isSubmitted && this.myCountryProfileForm['climateChangeImpacts']['controls'][i]['controls'].climateChangeImpactSubSectionsTitle.errors?.required">
                                                            Title is required*.
                                                        </div>
                                                </div>
                                                <div class="col sub-section-col-fa text-right">
                                                    <!-- <span class="span-fa-icon"><input title="Start Sub Section On New Page" type="checkbox" [checked]="climateChangeImpact.index"
                                                            formControlName="isCheckedclimateChangeImpactSubSections"
                                                            (change)="toggleclimateChangeImpactSubSections($event)"></span> -->
                                                    <!-- <button class="btn btn-danger {{ i }}" type="button" (click)="removeclimateChangeImpactSubSection(i)"> Delete </button> -->
                                                    <span class="span-fa-icon-sub" [ngClass]="{ 'disabled' : first }"><a
                                                            title="Move up"
                                                            (click)="moveUp(i, climateChangeImpactFormGroup.controls)"><i
                                                                class="fa fa-arrow-up"
                                                                aria-hidden="true"></i></a></span>
                                                    <span class="span-fa-icon-sub" [ngClass]="{ 'disabled' : last }"><a
                                                            title="Move down"
                                                            (click)="moveDown(i, climateChangeImpactFormGroup.controls)"><i
                                                                class="fa fa-arrow-down"
                                                                aria-hidden="true"></i></a></span>
                                                    <!-- <span class="span-fa-icon-sub"><a title="Refresh Section From API"><i class="fa fa-refresh" aria-hidden="true"></i></a></span> -->
                                                    <span class="span-fa-icon-sub"
                                                        (click)="removeclimateChangeImpactSubSection(i)"><a
                                                            title="Delete"><i class="fa fa-trash-o"
                                                                aria-hidden="true"></i></a></span>
                                                </div>
                                            </div>
                                            <div class="form-group col-12">
                                                <ejs-richtexteditor [pasteCleanupSettings]="pasteCleanupSettings"  [insertImageSettings]='insertImageSettings'
                                                    [placeholder]='placeholderContent'
                                                    id='climateChangeImpactSubSectionsContent_{{ i }}'
                                                    formControlName="climateChangeImpactSubSectionsContent"
                                                    [fontFamily]="fontFamily" [toolbarSettings]='tools' [backgroundColor]='backgroundColor' [fontColor] ='fontColor'>
                                                </ejs-richtexteditor>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group row select-section align-items-center">
                                    <h5 class="col-lg-3 mb-lg-0">Select Sub-Section</h5>
                                    <div class="col-sm-6 mb-2 mb-sm-0">
                                        <select formControlName="climateChangeImpactSubSectionsType"
                                            class="form-control">
                                            <option *ngFor="let climateChangeImpactOption of climateChangeImpactOptions"
                                                [ngValue]="climateChangeImpactOption">{{ climateChangeImpactOption }}
                                            </option>
                                        </select>
                                    </div>
                                    <div class="col-sm-6 col-lg-3">
                                        <button class="btn btn-primary" type="button"
                                            (click)="addclimateChangeImpactSubSection()"> Create Sub-Section </button>
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <div class="form-group col-12">
                                        <ejs-richtexteditor [pasteCleanupSettings]="pasteCleanupSettings"  [insertImageSettings]='insertImageSettings'
                                            [placeholder]='placeholderFooter' id='climateChangeImpactFooterLinks'
                                            formControlName="climateChangeImpactFooterLinks" [fontFamily]="fontFamily"
                                            [toolbarSettings]='tools' [backgroundColor]='backgroundColor' [fontColor] ='fontColor'></ejs-richtexteditor>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="card">
                        <div class="card-header" id="policiesAndProgramSection">
                            <div class="row align-items-center">
                                <div class="col" [ngClass]="{'isHidden': isDisplaypoliciesAndProgramSection === false}">
                                    <button class="btn btn-block mp-0 collapsed"
                                        [ngClass]="{'collapsed': isDisplaypoliciesAndProgramSection === true}"
                                        type="button" data-toggle="collapse" data-target="#policiesAndProgramCollapse"
                                        aria-expanded="true" aria-controls="policiesAndProgramCollapse">
                                        <i class="fa fa-minus"></i> Policies And Programs - ADB
                                    </button>
                                </div>

                                <div class="col-3 span-icon-pd">
                                    <span *ngIf="isDisplaypoliciesAndProgramSection" class="span-fa-icon">
                                        <input ttitle="Start Section On New Page" type="checkbox" [(ngModel)]="isCheckedpoliciesAndProgramSection"
                                        formControlName="isCheckedpoliciesAndProgramSection" 
                                        (change)="togglePoliciesAndProgramSection($event)"></span>

                                    <span *ngIf="isDisplaypoliciesAndProgramSection" class="span-fa-icon"
                                        (click)="fatchAPIpoliciesAndProgramSection()"><a title="Refresh Section From API"><i
                                                class="fa fa-refresh" aria-hidden="true"></i></a></span>
                                    <span *ngIf="isDisplaypoliciesAndProgramSection" class="span-fa-icon"
                                        (click)="isInActivepoliciesAndProgramSection()"><a title="Hide Section"><i
                                                class="fa fa-eye-slash" aria-hidden="true"></i></a></span>
                                    <span *ngIf="!isDisplaypoliciesAndProgramSection" class="span-fa-icon"
                                        (click)="isActivepoliciesAndProgramSection()"><a title="Restore Section"><i
                                                class="fa fa-window-restore" aria-hidden="true"></i></a></span>
                                </div>
                            </div>
                        </div>
                        <div id="policiesAndProgramCollapse" class="collapse"
                            aria-labelledby="policiesAndProgramSection" data-parent="#accordionExample"
                            *ngIf="isDisplaypoliciesAndProgramSection">
                            <div class="card-body">
                                <div class="form-group row" style="margin-bottom: 0px;">
                                    <div class="form-group col-12">
                                        <ejs-richtexteditor [pasteCleanupSettings]="pasteCleanupSettings"  [insertImageSettings]='insertImageSettings'
                                            [placeholder]='placeholderContent' id='policiesAndProgramMainSection'
                                            formControlName="policiesAndProgramMainSection" [fontFamily]="fontFamily"
                                            [toolbarSettings]='tools' [backgroundColor]='backgroundColor' [fontColor] ='fontColor'></ejs-richtexteditor>
                                    </div>
                                </div>
                                <div class="row sub-section" formArrayName="policiesAndPrograms">
                                    <div class="sub-section-content"
                                        *ngFor="let policiesAndProgram of policiesAndProgramFormGroup.controls; let i = index; let first = first; let last = last">
                                        <div [formGroupName]="i" class="row ">
                                            <div class="form-group row col-12">
                                                <div class="col">
                                                    <input class="form-control"
                                                        id="policiesAndProgramSubSectionsTitle_{{ i }}"
                                                        formControlName="policiesAndProgramSubSectionsTitle"
                                                        placeholder="Enter Sub Section Title">
                                                        <div class="invalid-feedback"
                                                            *ngIf="isSubmitted && this.myCountryProfileForm['policiesAndPrograms']['controls'][i]['controls'].policiesAndProgramSubSectionsTitle.errors?.required">
                                                            Title is required*.
                                                        </div>
                                                </div>
                                                <div class="col sub-section-col-fa text-right">
                                                    <!-- <span class="span-fa-icon"><input title="Start Sub Section On New Page" type="checkbox" [checked]="policiesAndProgram.index"
                                                            formControlName="isCheckedpoliciesAndProgramSubSections"
                                                            (change)="togglepoliciesAndProgramSubSections($event)"></span> -->

                                                    <!-- <button class="btn btn-danger {{ i }}" type="button" (click)="removepoliciesAndProgramSubSection(i)"> Delete </button> -->
                                                    <span class="span-fa-icon-sub" [ngClass]="{ 'disabled' : first }"><a
                                                            title="Move up"
                                                            (click)="moveUp(i, policiesAndProgramFormGroup.controls)"><i
                                                                class="fa fa-arrow-up"
                                                                aria-hidden="true"></i></a></span>
                                                    <span class="span-fa-icon-sub" [ngClass]="{ 'disabled' : last }"><a
                                                            title="Move down"
                                                            (click)="moveDown(i, policiesAndProgramFormGroup.controls)"><i
                                                                class="fa fa-arrow-down"
                                                                aria-hidden="true"></i></a></span>
                                                    <!-- <span class="span-fa-icon-sub"><a title="Refresh Section From API"><i class="fa fa-refresh" aria-hidden="true"></i></a></span> -->
                                                    <span class="span-fa-icon-sub"
                                                        (click)="removepoliciesAndProgramSubSection(i)"><a
                                                            title="Delete"><i class="fa fa-trash-o"
                                                                aria-hidden="true"></i></a></span>
                                                </div>
                                            </div>
                                            <div class="form-group col-12">
                                                <ejs-richtexteditor [pasteCleanupSettings]="pasteCleanupSettings"  [insertImageSettings]='insertImageSettings'
                                                    [placeholder]='placeholderContent'
                                                    id='policiesAndProgramSubSectionsContent_{{ i }}'
                                                    formControlName="policiesAndProgramSubSectionsContent"
                                                    [fontFamily]="fontFamily" [toolbarSettings]='tools' [backgroundColor]='backgroundColor' [fontColor] ='fontColor'>
                                                </ejs-richtexteditor>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group row select-section align-items-center">
                                    <h5 class="col-lg-3 mb-lg-0">Select Sub-Section</h5>
                                    <div class="col-sm-6 mb-2 mb-sm-0">
                                        <select formControlName="policiesAndProgramSubSectionsType"
                                            class="form-control">
                                            <option *ngFor="let policiesAndProgramOption of policiesAndProgramOptions"
                                                [ngValue]="policiesAndProgramOption">{{ policiesAndProgramOption }}
                                            </option>
                                        </select>
                                    </div>
                                    <div class="col-sm-6 col-lg-3">
                                        <button class="btn btn-primary" type="button"
                                            (click)="addpoliciesAndProgramSubSection()"> Create Sub-Section </button>
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <div class="form-group col-12">
                                        <ejs-richtexteditor [pasteCleanupSettings]="pasteCleanupSettings"  [insertImageSettings]='insertImageSettings'
                                            [placeholder]='placeholderFooter' id='policiesAndProgramFooterLinks'
                                            formControlName="policiesAndProgramFooterLinks" [fontFamily]="fontFamily"
                                            [toolbarSettings]='tools' [backgroundColor]='backgroundColor' [fontColor] ='fontColor'></ejs-richtexteditor>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header" id="adaptationSection">
                            <div class="row align-items-center">
                                <div class="col" [ngClass]="{'isHidden': isDisplayadaptationSection === false}">
                                    <button class="btn btn-block mp-0 collapsed"
                                        [ngClass]="{'collapsed': isDisplayadaptationSection === true}" type="button"
                                        data-toggle="collapse" data-target="#adaptationCollapse" aria-expanded="true"
                                        aria-controls="adaptationCollapse">
                                        <i class="fa fa-minus"></i> Adaptation
                                    </button>
                                </div>

                                <div class="col-3 span-icon-pd">
                                    <span *ngIf="isDisplayadaptationSection" class="span-fa-icon"><input title="Start Section On New Page" type="checkbox" [(ngModel)]="isCheckedadaptationSection"
                                        formControlName="isCheckedadaptationSection" 
                                        (change)="toggleAdaptationSection($event)"></span>

                                    <span *ngIf="isDisplayadaptationSection" class="span-fa-icon"
                                        (click)="fatchAPIadaptationSection()"><a title="Refresh Section From API"><i
                                                class="fa fa-refresh" aria-hidden="true"></i></a></span>
                                    <span *ngIf="isDisplayadaptationSection" class="span-fa-icon"
                                        (click)="isInActiveadaptationSection()"><a title="Hide Section"><i
                                                class="fa fa-eye-slash" aria-hidden="true"></i></a></span>
                                    <span *ngIf="!isDisplayadaptationSection" class="span-fa-icon"
                                        (click)="isActiveadaptationSection()"><a title="Restore Section"><i
                                                class="fa fa-window-restore" aria-hidden="true"></i></a></span>
                                </div>
                            </div>
                        </div>
                        <div id="adaptationCollapse" class="collapse" aria-labelledby="adaptationSection"
                            data-parent="#accordionExample" *ngIf="isDisplayadaptationSection">
                            <div class="card-body">
                                <div class="form-group row" style="margin-bottom: 0px;">
                                    <div class="form-group col-12">
                                        <ejs-richtexteditor [pasteCleanupSettings]="pasteCleanupSettings"  [insertImageSettings]='insertImageSettings'
                                            [placeholder]='placeholderContent' id='adaptationMainSection'
                                            formControlName="adaptationMainSection" [fontFamily]="fontFamily"
                                            [toolbarSettings]='tools' [backgroundColor]='backgroundColor' [fontColor] ='fontColor'></ejs-richtexteditor>
                                    </div>
                                </div>
                                <div class="row sub-section" formArrayName="adaptations">
                                    <div class="sub-section-content"
                                        *ngFor="let adaptation of adaptationFormGroup.controls; let i = index; let first = first; let last = last">
                                        <div [formGroupName]="i" class="row ">
                                            <div class="form-group row col-12">
                                                <div class="col">
                                                    <input class="form-control" id="adaptationSubSectionsTitle_{{ i }}"
                                                        formControlName="adaptationSubSectionsTitle"
                                                        placeholder="Enter Sub Section Title">
                                                        <div class="invalid-feedback"
                                                            *ngIf="isSubmitted && this.myCountryProfileForm['adaptations']['controls'][i]['controls'].adaptationSubSectionsTitle.errors?.required">
                                                            Title is required*.
                                                        </div>
                                                </div>
                                                <div class="col sub-section-col-fa text-right">
                                                    <!-- <span class="span-fa-icon"><input title="Start Sub Section On New Page" type="checkbox" [checked]="adaptation.index"
                                                            formControlName="isCheckedadaptationSubSections" (change)="toggleadaptationSubSections($event)"></span> -->
                                                            
                                                    <!-- <button class="btn btn-danger {{ i }}" type="button" (click)="removeadaptationSubSection(i)"> Delete </button> -->
                                                    <span class="span-fa-icon-sub" [ngClass]="{ 'disabled' : first }"><a
                                                            title="Move up"
                                                            (click)="moveUp(i, adaptationFormGroup.controls)"><i
                                                                class="fa fa-arrow-up"
                                                                aria-hidden="true"></i></a></span>
                                                    <span class="span-fa-icon-sub" [ngClass]="{ 'disabled' : last }"><a
                                                            title="Move down"
                                                            (click)="moveDown(i, adaptationFormGroup.controls)"><i
                                                                class="fa fa-arrow-down"
                                                                aria-hidden="true"></i></a></span>
                                                    <!-- <span class="span-fa-icon-sub"><a title="Refresh Section From API"><i class="fa fa-refresh" aria-hidden="true"></i></a></span> -->
                                                    <span class="span-fa-icon-sub"
                                                        (click)="removeadaptationSubSection(i)"><a title="Delete"><i
                                                                class="fa fa-trash-o" aria-hidden="true"></i></a></span>
                                                </div>
                                            </div>
                                            <div class="form-group col-12">
                                                <ejs-richtexteditor [pasteCleanupSettings]="pasteCleanupSettings"  [insertImageSettings]='insertImageSettings'
                                                    [placeholder]='placeholderContent'
                                                    id='adaptationSubSectionsContent_{{ i }}'
                                                    formControlName="adaptationSubSectionsContent"
                                                    [fontFamily]="fontFamily" [toolbarSettings]='tools' [backgroundColor]='backgroundColor' [fontColor] ='fontColor'>
                                                </ejs-richtexteditor>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group row select-section align-items-center">
                                    <h5 class="col-lg-3 mb-lg-0">Select Sub-Section</h5>
                                    <div class="col-sm-6 mb-2 mb-sm-0">
                                        <select formControlName="adaptationSubSectionsType" class="form-control">
                                            <option *ngFor="let adaptationOption of adaptationOptions"
                                                [ngValue]="adaptationOption">{{ adaptationOption }}</option>
                                        </select>
                                    </div>
                                    <div class="col-sm-6 col-lg-3">
                                        <button class="btn btn-primary" type="button"
                                            (click)="addadaptationSubSection()"> Create Sub-Section </button>
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <div class="form-group col-12">
                                        <ejs-richtexteditor [pasteCleanupSettings]="pasteCleanupSettings"  [insertImageSettings]='insertImageSettings'
                                            [placeholder]='placeholderFooter' id='adaptationFooterLinks'
                                            formControlName="adaptationFooterLinks" [fontFamily]="fontFamily"
                                            [toolbarSettings]='tools' [backgroundColor]='backgroundColor' [fontColor] ='fontColor'></ejs-richtexteditor>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

                <div class="form-group row pt-5">
                    <div class="col text-center">
                        <a class="btn btn-secondary" (click)="editCountryProfile(countryProfileID)">Back</a>
                        <button type="button" id="saveInformation" (click)="saveAsDraft($event)" class="btn btn-primary">Save</button>
                        <button type="button" id ="saveAsDraft" (click)="saveAsDraft($event)" class="btn btn-primary mx-3">Save as Draft</button>
                        <button type="submit" class="btn btn-primary">Update Profile PDF</button>
                        <button type="button" class="btn btn-primary mx-3" (click)="previewPdf($event)">Preview PDF</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>