<div class="pdfContent">
    <div class="cover" [ngStyle]="{'background-image': 'url(' + primaryImageURLSrc + ')'}">
      <div class="coverWrap">
        <div class="coverClip" [ngStyle]="{'background-image': 'url(' + secondaryImageURLSrc + ')'}"></div>
      </div>
      <div class="coverClipBottom"></div>
      <div class="coverTitle">
        <div class="heading">CLIMATE RISK COUNTRY PROFILE</div>
        <div class="fancyArrowCover country">{{ countryName }}</div>
      </div>
      <div class="row coverFooter">
        <div class="col left" style="text-align: left">
          <a href="https://www.worldbank.org/" target="_blank">
              <img src="./../../../assets/images/logo/ci_2.png"/>
          </a>
        </div>
        <div class="col right" style="text-align: right" *ngIf="(isAdbProfile === true)">
          <a href="https://www.adb.org/" target="_blank">
            <img src="{{ adbWbLogoImageURL }}" *ngIf="adbWbLogoImageURL != ''; else defaultAdbWbLogoImageURL"/>
            <ng-template #defaultAdbWbLogoImageURL>
              <img src="./../../../assets/images/logo/ci_3.png"/>
            </ng-template>
          </a>
        </div>
      </div>
    </div>
  </div>
  