<footer class="footer">
    <div class="primary-footer">
        <div class="text-muted"><h4>{{footerData.climateChange}}</h4></div>
    </div>
    <div class="secondary-footer"></div>
    <div class="container-fluid third-footer">
        <div class="row footer-logo-border">
            <div class="col-sm-12">
                <img src={{footerData.footerLogo}}  class="footer-logo">
            </div>
        </div>
        <div class="row all-rights-text">
            <div class="col-sm-12">{{footerData.copyRight}}</div>
        </div>
    </div>
</footer>