<div class="container-fluid container-top">
    <div class="loaderStyle" *ngIf="loading">
        <div class="spinner-grow text-primary" role="status">
            <span class="sr-only"></span>
        </div>
    </div>
</div>
