<app-header></app-header>
<div class="d-flex justify-content-center" *ngIf="loading">
    <div class="spinner-grow text-primary" role="status" style="left:50%;position: absolute;top: 45%;">
        <span class="sr-only"></span>
    </div>
</div>
<router-outlet></router-outlet>

<app-footer></app-footer>
