<div class="container-fluid container-top">
    <div class="row mb-3">
        <h4 class="col-md-8 offset-md-2 mainHeading pb-2">Create Profile</h4>
    </div>

    
    <div class="row create-country-profile-form">
        <div class="col-md-8 offset-md-2">
            <form [formGroup]="createCountryProfileForm" (ngSubmit)="onSubmit()">
                <div class="form-group row">
                    <label for="inputtitle" class="col-sm-3 col-form-label">Title</label>
                    <div class="col-sm-9">
                        <input type="text" class="form-control" id="inputtitle" formControlName="title">
                        <div class="invalid-feedback" *ngIf="isSubmitted && myCountryProfileForm.title.errors?.required || isSubmitted && myCountryProfileForm.title.errors?.cannotContainSpace">
                            Title is required.
                        </div>
                    </div>
                </div>

                <div class="form-group row">
                    <label for="inputtitle" class="col-sm-3 col-form-label">Region</label>
                    <div class="col-sm-9">
                        <select class="custom-select" (change)="changeRegion($event.target.value)" formControlName="regionName">
                            <option value="">Select Region</option>
                            <option *ngFor="let region of regions">{{ region }}</option>
                        </select>
                        <div class="invalid-feedback" *ngIf="isSubmitted && myCountryProfileForm.regionName.errors?.required">
                            Select Region.
                        </div>
                    </div>
                </div>

                <div class="form-group row" *ngIf="isRegionselected">
                    <label for="inputtitle" class="col-sm-3 col-form-label">Country</label>
                    <div class="col-sm-9">
                        <select class="custom-select" (change)="changeCountry($event.target.value)" formControlName="countryName">
                            <option value="">Select Country</option>
                            <option *ngFor="let country of countries">{{ country }}</option>
                        </select>
                        <div class="invalid-feedback" *ngIf="isSubmitted && myCountryProfileForm.countryName.errors?.required">
                            Select Country.
                        </div>
                    </div>
                </div>

                <div class="form-group row d-flex align-items-center" *ngIf="isRegionselected">
                    <label for="inputtitle" class="col-sm-3 col-form-label">Primary Cover Image</label>
                    <div class="col-sm-7">
                        <div class="custom-file">
                                <input type='file' class="custom-file-input" id="primaryImage" (change)="onSelectPrimaryImage($event)">
                            <label class="custom-file-label" for="primaryImage">Choose file</label>
                        </div>
                    </div>
                    <div class="col-sm-2">
                        <img [src]="primaryImageUrl" style="height: 100px;width: 100px;" *ngIf="isDisplayPrimaryImageSetURL">
                    </div>
                </div>

                <div class="form-group row d-flex align-items-center" *ngIf="isRegionselected">
                    <label for="inputtitle" class="col-sm-3 col-form-label">Secondary Cover Image</label>
                    <div class="col-sm-7">
                        <div class="custom-file">
                                <input type='file' class="custom-file-input" id="secondaryImage" (change)="onSelectSecondaryImage($event)">
                            <label class="custom-file-label" for="secondaryImage">Choose file</label>
                        </div>
                    </div>
                    <div class="col-sm-2">
                        <img [src]="secondaryImageUrl" style="height: 100px;width: 100px;" *ngIf="isDisplaySecondaryImageSetURL">
                    </div>
                </div>

                <!-- <div class="form-group row d-flex align-items-center" *ngIf="isRegionselected">
                    <label for="inputtitle" class="col-sm-3 col-form-label">WB Logo </label>
                    <div class="col-sm-9">
                        <input type='file' id="wbLogoImage" (change)="onSelectWbLogoImage($event)">
                        <img [src]="wbLogoImageUrl" />
                    </div>
                </div> -->

                <div class="form-group row" *ngIf="isRegionselected">
                    <label for="inputtitle" class="col-sm-3 col-form-label">Type Of Profile</label>
                    <div class="col-sm-9" style="padding-top: 7px;">
                        <span>
                          <input type="radio" [(ngModel)]="isGenralProfile" [value] ="true"  formControlName="isGenralProfile" (change)="isGenralProfileEvent($event)" id="exampleCheck1">
                           <label style="padding-left: 5px;" class="form-check-label" for="exampleCheck1">General</label>
                        </span>
                        <span style="padding-left: 10px;">
                            <input type="radio"  [(ngModel)]="isAdbProfile" [value] ="true"  formControlName="isAdbProfile" (change)="isAdbProfileEvent($event)" id="exampleCheck">
                            <label style="padding-left: 5px;" class="form-check-label" for="exampleCheck">ADB</label>
                        </span>                                             
                        <!-- <span>
                            <input type="checkbox" [(ngModel)]="isGenralProfile"  formControlName="isGenralProfile" (change)="isGenralProfileEvent($event)" id="exampleCheck1">
                            <label style="padding-left: 5px;" class="form-check-label" for="exampleCheck1">General</label>
                        </span>
                        <span style="padding-left: 10px;">
                            <input type="checkbox"  [(ngModel)]="isAdbProfile" formControlName="isAdbProfile" (change)="isAdbProfileEvent($event)" id="exampleCheck">
                            <label style="padding-left: 5px;" class="form-check-label" for="exampleCheck">ADB</label>
                        </span> -->
                    </div>
                </div>

                <div class="form-group row d-flex align-items-center" *ngIf="(isRegionselected === true) && (contentEditable === true)">
                    <label for="inputtitle" class="col-sm-3 col-form-label">ADB Logo </label>

                    <div class="col-sm-7">
                        <div class="custom-file">
                                <input type='file' class="custom-file-input" id="adbWbLogoImage" (change)="onSelectAdbWbLogoImage($event)">
                            <label class="custom-file-label" for="adbWbLogoImage">Choose file</label>
                        </div>
                    </div>
                    <div class="col-sm-2">
                        <img [src]="adbWbLogoImageUrl" style="height: 100px;width: 100px;" *ngIf="isDisplayAdbWbLogoImageSetURL">
                    </div>
                </div>
                
                <div class="form-group row pt-5">
                    <div class="col text-center">
                        <a class="btn btn-secondary mx-2" routerLink=''>Back</a>
                        <button type="submit" class="btn btn-primary mx-2">Save & Next</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>