<div class="">
    <div class="pdfContent">
        <div class="section" *ngIf="(isDisplayAcknowledgementSection === true) && (acknowledgementMainSection != '')" >
            <div *ngIf="acknowledgementMainSection" class="mainSection" [innerHTML]="acknowledgementMainSection | safeHtml"></div>
          </div>
    </div>
</div>
