@media screen,
print {
	@font-face {
		font-family: "AndesBook";
		src: url("./../../../assets/fonts/Andes/AndesBook.otf");
	}
	@font-face {
		font-family: "AndesBold";
		src: url("./../../../assets/fonts/Andes/AndesBoldNew.ttf");
	}
	@font-face {
		font-family: "AndesExtraLight";
		src: url("./../../../assets/fonts/Andes/AndesExtraLightNew.ttf");
	}
	@font-face {
		font-family: "BertholdLight";
		src: url("./../../../assets/fonts/AkzidenzGrotesk/Akzidenz-grotesk-light.ttf");
	}
	@font-face {
		font-family: "BertholdBERegular";
		src: url("./../../../assets/fonts/Berthold/Berthold Akzidenz Grotesk BE Regular.otf");
	}
	.navbar,
	footer {
		display: none;
	}
	body {
		margin: 0;
		padding: 0;
	}
	body,
	.pdfContent {
		font-family: "BertholdLight", sans-serif;
		color: #000000;
		font-size: 17px;
	}
	/* .pdfContent * {
		font-family: "BertholdLight", sans-serif !important;
	} */
	.pdfContent .mainSection,
	.pdfContent .subSectionContentText {
		font-family: "BertholdLight", sans-serif !important;
	}
	.pdfContent a {
		word-break: break-all;
	}
	
	/* cover page */
	.cover {
		position: absolute;
		width: 1024px;
		height: 1448px;
		background-position-x: center;
		background-position-y: center;
		background-size: cover;
		/* background-repeat-x: no-repeat;
		background-repeat-y: no-repeat; */
		background-attachment: initial;
		background-origin: initial;
		background-clip: initial;
		background-color: rgb(255, 255, 255);
		overflow: hidden;
		/* background: #ffffff url('./../../../assets/images/cover/4.jpg') no-repeat center center/cover; */
		
	}
	.coverWrap {
		filter: drop-shadow(1px 73px 30px rgba(50, 50, 0, 0.5));
		position: absolute;
		z-index: 3;
	  }
	.coverClip {
		background-position-x: right;
		background-position-y: center;
		background-size: cover;
		/* background-repeat-x: no-repeat;
		background-repeat-y: no-repeat; */
		background-attachment: initial;
		background-origin: initial;
		background-clip: initial;
		background-color: rgb(0, 47, 83);
		-webkit-clip-path: polygon(0 0, 95px 0, 599px 1538px, 0 1073px);
		clip-path: polygon(0 0, 95px 0, 599px 1538px, 0 1073px);
		position: absolute;
		width: 571px;
		height: 1448px;
		z-index: 3;
		/* background: #002f53 url('./../../../assets/images/cover/left.jpg') no-repeat center right/cover; */
	}
	.coverClip::after {
		background: rgba(3, 46, 79, 0.8);
		position: absolute;
		width: 571px;
		height: 1448px;
		content: "";
	}
	.coverClipBottom {
		-webkit-clip-path: polygon(0 468px, 491px 849px, 0 849px);
		clip-path: polygon(0 468px, 491px 849px, 0 849px);
		background: #ffffff;
		position: absolute;
		width: 689px;
		height: 846px;
		bottom: 0;
	}
	.cover .coverTitle {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
	}
	.cover .coverTitle .heading {
		color: #a7a9ac;
		letter-spacing: 0.6px;
		background: #002f53;
		text-align: right;
		padding: 19% 30px 18px 31%;
		width: 100%;
		z-index: 2;
		text-align: center;
		font-size: 36px;
		font-weight: 600;
		font-family: "BertholdBERegular", sans-serif !important;
	}
	.cover .coverTitle .country {
		padding: 9px 48px;
		font-size: 44px;
		letter-spacing: 1px;
		font-weight: 700;
		color: #ffffff;
		background: #00aae6;
		margin: 19px 0 10px 32%;
		font-family: "AndesBold", sans-serif !important;
		text-transform: uppercase;
		line-height: 1.3;
	}
	.coverFooter {
		position: absolute;
		bottom: 35px;
		width: 100%;
		margin: 0;
		z-index: 3;
	}
	.coverFooter .left {
		padding-left: 3rem;
	}
	.coverFooter .right {
		padding-right: 3rem;
	}
	.coverFooter img {
		max-height: 50px;
		max-width: 300px;
	}

	/* Default style */
	.h1,
	h1 {
		font-size: 32px;
	}
	.h2,
	h2 {
		font-size: 30px;
	}
	.h3,
	h3 {
		font-size: 19px;
	}
	.h4,
	h4 {
		font-size: 17px;
	}
	.h5,
	h5 {
		font-size: 15px;
	}
	.h6,
	h6 {
		font-size: 13px;
	}

	/* .pdfContent h3 *,
	.pdfContent h4 *,
	.pdfContent h5 *,
	.pdfContent h6 * {
		font-family: "AndesBold", sans-serif !important;
	} */
	.pdfContent h3,
	.pdfContent h4,
	.pdfContent h5,
	.pdfContent h6 {
		letter-spacing: .9px;
		margin-bottom: 8px;
	}
	.pdfContent h3,
	.pdfContent h3 a,
	.pdfContent h4,
	.pdfContent h4 a,
	.pdfContent h5,
	.pdfContent h5 a,
	.pdfContent h6,
	.pdfContent h6 a {
		font-family: "AndesBold", sans-serif !important;
		color: #00aae5;
	}
	.pdfContent h3 {
		font-size: 19px;
	}
	.pdfContent h4 {
		font-size: 17px;
	}
	.e-rte-image {
		margin-left: 5px;
		margin-right: 5px;
	}
	
	img.e-rte-image.e-imginline.e-resize {
    outline: none!important;
	}

	/* margin padding around */
	.marginFull,
	.mainTitleWrap,
	.imgWrap {
		margin-left: -120px !important;
		margin-right: -120px !important;
	}
	.imgWrap {
		/* background-color: #e7f4fc !important; */
		padding: 0px 120px;
		margin-top: 20px;
		display: flex;
		flex-wrap: wrap;
	}
	.imgWrap * {
		/* background-color: #e7f4fc !important; */
	}

	/* PDF page */
	.pdfContent {
		color: #000000;
		text-align: justify;
	}
	.pdfContent .section {
		padding: 0 120px;
		margin-top: 0;
	}
	.pageBreak {
		page-break-before: always;
	}
	#contents.pdfContent .section {
		margin-bottom: 55px;
	}
	#contents.pdfContent .section.pageBreak {
		margin-bottom: 0;
	}
	.pdfContent .mainSection,
	.pdfContent .subSection {
		margin-bottom: 30px;
	}
	/* .pdfContent .subSection {
		padding-top: 4px;
	} */
	.pdfContent .subSection .subSectionContent {
		margin-bottom: 20px;
	}
	.mainTitleWrap {
		margin-bottom: 54px;
		padding: 13px 120px;
		background: #00375e;
		background: linear-gradient(141deg, #00375e 7%, #13639e 28%, #00375e 75%);
		box-shadow: 0 5px 7px -5px #444;
	}
	.pdfContent .mainTitle,
	.pdfContent .mainTitle a {
		font-family: "AndesBold", sans-serif !important;
		color: #77c9ef;
		text-transform: uppercase;
		font-size: 1.8rem;
		position: relative;
		text-align: left;
		margin: 0;
		display: inline-block;
	}
	.pdfContent .subSectionTitle,
	.pdfContent .subSectionTitle a {
		margin-bottom: 28px;
		font-size: 30px;
		letter-spacing: .7px;
		font-family: "AndesBook", sans-serif !important;
		color: #002f54;
		padding-top: 2px;
	}
	.pdfContent .subTitle {
		color: #36ace7;
	}

	/* down arrow title */
	.fancyArrow {
		position: relative;
	}
	.fancyArrow::after {
		content: "";
		display: block;
		width: 37px;
		height: 37px;
		background: #00375e;
		position: absolute;
		left: calc(50% - 19px);
		bottom: -32px;
		-webkit-transform: rotate(45deg);
		-moz-transform: rotate(45deg);
		transform: rotate(45deg);
		background-image: linear-gradient(currentColor, transparent);
		z-index: -1;
		box-shadow: 0 1px 10px #444;
	}
	.fancyArrowCover {
		margin-bottom: 30px;
		background: #00375e;
		background: linear-gradient(141deg, #00375e 7%, #13639e 28%, #00375e 75%);
		position: relative;
	}
	.fancyArrowCover::after {
		background: #002f53;
		position: absolute;
		left: calc(50% - 20px);
		top: -48px;
		z-index: 1;
		content: "";
		display: block;
		width: 40px;
		height: 40px;
		-webkit-transform: rotate(45deg);
		-moz-transform: rotate(45deg);
		transform: rotate(45deg);
	}
	.pdfContent p {
		margin-bottom: 0;
		color: #000000;
		letter-spacing: 0.3px;
	}
	.pdfContent .mainSection p,
	.pdfContent .subSection p {
		margin-bottom: 0;
	}
	.pdfContent .footerSection {
		font-size: 15px;
		padding-top: 5px;
		position: relative;
		color: #000000;
		font-family: "AndesExtraLight", sans-serif !important;
		text-align: left;
	}
	.pdfContent .footerSection p {
		margin-bottom: 5px;
	}
	.pdfContent .footerSection * {
		font-family: "AndesExtraLight", sans-serif !important;
	}
	.pdfContent .footerSection::before {
		background: #000000;
		width: 100px;
		height: 1px;
		content: '';
		position: absolute;
		top: 0;
	}
	.pdfContent table {
		width: 100% !important;
		max-width: 100%;
		text-align: left;
		font-family: "BertholdBERegular", sans-serif !important;
	}
	.pdfContent table * {
		font-family: "BertholdBERegular", sans-serif !important;
	}
	.pdfContent table th {
		background: #00aae7;
		color: #ffffff;
		border: 0;
		vertical-align: bottom;
	}
	.pdfContent table th p,
	.pdfContent table th span {
		color: inherit !important;
	}
	.pdfContent table th p {
		margin-bottom: 0;
	}
	.pdfContent table tbody td {
		padding: 2px 5px;
		border: 0;
		border-bottom: 1px solid #666666;
		vertical-align: top;
	}
	img,
	tr,
	svg {
		-webkit-column-break-inside: avoid;
		page-break-inside: avoid;
		break-inside: avoid;
	}

	/* TOC html generation */
	#toc {
		page-break-after: always;
	}
	#toc .mainTitleWrap {
		margin-bottom: 40px;
	}
	#toc ul {
		list-style-type: none;
		padding-left: 20px;
	}
	#toc ul a {
		display: inline-block;
	}
	#toc > ul {
		padding-left: 120px;
	}
	#toc ul > ul:first-child {
		padding: 0;
	}

	/* TOC style */
	.tbContentTitle {
		font-family: "AndesBook", sans-serif;
		color: #77c9ef;
		text-transform: uppercase;
		font-size: 1.5rem;
		font-weight: 700;
		letter-spacing: 1.85px;
		position: relative;
		text-align: left;
		display: block;
		margin: 0 0 43px 0;
		padding: 13px 120px;
		background: #00375e;
		background: linear-gradient(141deg, #00375e 7%, #13639e 28%, #00375e 75%);
		width: 100%;
		box-sizing: border-box;
	}
	.level1,
	.level2,
	.level3,
	.level4,
	.level5,
	.level6 {
		margin: 0;
		font-size: 15px;
		letter-spacing: 0.8px;
		font-family: "AndesBook", sans-serif !important;
		color: #000000;
	}
	.level1 {
		margin-top: 15px;
		font-size: 19px;
		font-family: "AndesBold", sans-serif !important;
		color: #2c6bac;
		text-transform: uppercase;
		letter-spacing: 0.6px;
	}
	.levelNumber1,
	.levelNumber2,
	.levelNumber3,
	.levelNumber4,
	.levelNumber5,
	.levelNumber6 {
		margin: 0;
		font-size: 15px;
		letter-spacing: 0.8px;
		font-family: "AndesBook", sans-serif !important;
		color: #000000;
		text-align: right;
	}
	.levelNumber1 {
		font-size: 19px;
		font-family: "AndesBold", sans-serif !important;
		color: #2c6bac;
		letter-spacing: 0.6px;
	}
	/* for dot */
	#toc>ul {
		width: 875px;
		max-width: 875px;
	}
	#toc li {
		position: relative;
		overflow: hidden;
	}
	#toc ul a {
		display: inline-block;
		background: #fff;
	}
	#toc ul a .levelText {
		display: inline-block;
		position: relative;
		z-index: 2;
		background: #fff;
		padding-right: 5px;
	}
	#toc li a::after{
		content: "";
		position: absolute;
		bottom: 8px;
		width: 100%;
		height: 8px;
		background-image: linear-gradient(to right, #333 2px, rgba(255, 255, 255, 0) 1px);
		background-position: bottom;
		background-size: 15px 2px;
		background-repeat: repeat-x;
	}
	#toc li a.level1::after{
		background-image: linear-gradient(to right, #2c6bac 3px, rgba(255, 255, 255, 0) 1px);
		background-size: 15px 3px;
	}
	.footerLabel {
		font-size: 13px;
		font-family: "AndesBold", sans-serif;
		color: #2c6bac;
		letter-spacing: -0.2px;
		text-transform: uppercase;
	}

	/* Font Family overwrite */
	/* Font size */
	.pdfContent .mainSection *,
	.pdfContent .mainSection p,
	.pdfContent .mainSection p *,
	.pdfContent .subSectionContentText *,
  .pdfContent .subSectionContentText p,
	.pdfContent .subSectionContentText p * {
    font-size: 17px;
	}
	.pdfContent .mainSection h3,
	.pdfContent .mainSection h3 *,
	.pdfContent .subSectionContentText h3,
	.pdfContent .subSectionContentText h3 *,
	.pdfContent .mainSection h4,
	.pdfContent .mainSection h4 *,
	.pdfContent .subSectionContentText h4,
	.pdfContent .subSectionContentText h4 * {
		font-size: 19px;
	}
	.pdfContent table,
	.pdfContent table *,
	.pdfContent .mainSection table tr,
	.pdfContent .mainSection table tr *,
	.pdfContent .subSectionContentText table tr *,
	.pdfContent .footerSection table tr,
	.pdfContent .footerSection table tr * {
		font-size: 15px;
	}
	.pdfContent .footerSection,
	.pdfContent .footerSection *,
	.pdfContent .footerSection p,
  .pdfContent .footerSection p * {
    font-size: 15px;
	}
	.pdfContent sup,
	.pdfContent sub {
		font-size: 10px !important;
	}
	
	/* Font family */
	.pdfContent .mainSection,
	.pdfContent .subSectionContentText,
	.pdfContent .mainSection *,
	.pdfContent .subSectionContentText *,
	.pdfContent .mainSection p,
	.pdfContent .subSectionContentText p,
	.pdfContent .mainSection p *,
	.pdfContent .subSectionContentText p * {
		font-family: "BertholdLight", sans-serif !important;
	}

	.pdfContent h3,
	.pdfContent h3 a,
	.pdfContent h4,
	.pdfContent h4 a,
	.pdfContent h5,
	.pdfContent h5 a,
	.pdfContent h6,
	.pdfContent h6 a,
	.pdfContent .mainSection h3,
	.pdfContent .mainSection h3 *,
	.pdfContent .subSectionContentText h3,
	.pdfContent .subSectionContentText h3 *,
	.pdfContent .mainSection h4,
	.pdfContent .mainSection h4 *,
	.pdfContent .subSectionContentText h4,
	.pdfContent .subSectionContentText h4 * {
		font-family: "AndesBold", sans-serif !important;
    color: #00aae5 !important;
	}
	.pdfContent .subSectionTitle,
	.pdfContent .subSectionTitle a,
	.pdfContent .subSectionTitle * {
		font-family: "AndesBook", sans-serif !important;
	}
	.pdfContent .footerSection,
	.pdfContent .footerSection *,
	.pdfContent .footerSection p * {
		font-family: "AndesExtraLight", sans-serif !important;
	}
	.pdfContent table,
	.pdfContent table *,
	.pdfContent .mainSection table tr,
	.pdfContent .mainSection table tr *,
	.pdfContent .subSectionContentText table tr *,
	.pdfContent .footerSection table tr,
	.pdfContent .footerSection table tr * {
		font-family: "BertholdBERegular", sans-serif !important;
	}

	.tbContentTitle {
		font-family: "AndesBook", sans-serif;
	}
	#toc .level1,
	#toc .level2,
	#toc .level3,
	#toc .level4,
	#toc .level5,
	#toc .level6 {
		font-family: "AndesBook", sans-serif !important;
	}
	#toc .level1 {
		font-family: "AndesBold", sans-serif !important;
	}
	#toc .levelNumber1,
	#toc .levelNumber2,
	#toc .levelNumber3,
	#toc .levelNumber4,
	#toc .levelNumber5,
	#toc .levelNumber6 {
		font-family: "AndesBook", sans-serif !important;
	}
	#toc .levelNumber1 {
		font-family: "AndesBold", sans-serif !important;
	}
	.footerLabel {
		font-family: "AndesBold", sans-serif;
	}
}
