<div id="myModal" class="jw-modal" data-backdrop="static" data-keyboard="false">
    <div class="jw-modal-body"  data-backdrop="static" data-keyboard="false">
        <ng-content></ng-content>
    </div>
</div>
<div class="jw-modal-background"></div>