/* You can add global styles to this file, and also import other style files */
/* Font Family */
@font-face {
    font-family: "AndesBook";
    src: url("./assets/fonts/Andes/AndesBook.otf");
}
@font-face {
    font-family: "AndesBold";
    src: url("./assets/fonts/Andes/AndesBoldNew.ttf");
}
@font-face {
    font-family: "AndesExtraLight";
    src: url("./assets/fonts/Andes/AndesExtraLightNew.ttf");
}
@font-face {
    font-family: "BertholdLight";
    src: url("./assets/fonts/AkzidenzGrotesk/Akzidenz-grotesk-light.ttf");
}
@font-face {
    font-family: "BertholdBERegular";
    src: url("./assets/fonts/Berthold/Berthold Akzidenz Grotesk BE Regular.otf");
}

html, body {
    font-family: 'Open Sans', sans-serif;
}
nav{
    background-color: rgba(255, 255, 255, 0.9);
    backdrop-filter: blur(3px);
    box-shadow: 0px 2px 14px rgba(0, 0, 0, 0.25098039215686274)
}

.header-logo {
    /* width: 33.3333%;
    position: absolute;
    left: 1em;
    top: 50%;
    font-size: 1.4rem;
    font-weight: normal;
    letter-spacing: 0.01em;
    white-space: nowrap;
    transform: translateY(-50%); */
    max-height: 37px;
    max-width: 100%;
}
nav.navbar {
    height: 5em;
    margin: 0 auto;
}

.container-top {
    padding-top: 2em;
}


.section-head-text{
    border-bottom: 1px solid #c8ced0;
    padding-bottom: 1.5em;
}
.section-head-text h3 {
    font-size: 2.0rem;
    color: #279be6;
    font-weight: normal;
}
.section-head-region-text{
    margin-bottom: 0.4em;
}
.section-head-region-text  h3{
    font-weight: normal;
    font-size: 2.0rem;
    color: #014d99;
    padding-top: 1.4em;
}
.pdl-0 {
    padding-left: 0;
}
.primary-footer {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: scroll;
    background-image: url(assets/images/logo/bg_footer.jpg);
    background-color: #082243;
    color: #fff;
    padding: 5em 0 5em 0;
    text-align: center;
}
.text-muted h4 {
    color: #fff;
    font-size: 2.0rem;
} 
footer {
    margin-top: 5em;
}
.secondary-footer {
    background: #000000;
    text-align: center;
    color: #ffffff;
    padding-top: 4em;
    font-size: 18px;
}
.third-footer {
    margin-top: 1.5em;
    margin-bottom: 1.5em;
}
.footer-logo-border {
    border-bottom: 1px solid #ccc;
    padding-bottom: 1em;
}
.all-rights-text {    
    color: #333;
    font-size: 0.7em;
    padding-top: 1em;
}
a:hover {
    text-decoration: none;
}
a {
    /* font-size: 1.2em; */
}
.table-responsive {
    /* box-shadow: 0px 2px 14px rgba(0, 0, 0, 0.25098039215686274);
    padding: 3em; */
}
.data-table {
    clear: both;
    margin-top: 1em !important;
    margin-bottom: 1em !important;
    border-collapse: separate !important;
    border: 1px solid #ddd;
}
/* .dataTables_wrapper {
    padding-top: 1em;
} */
.btn-profile,
.btn-primary {
    background-color: #014d99;
    /* display: inline-block; */
    /* float: right; */
}
.mainHeading {
    color: #555;
    border-bottom: 1px solid rgba(204, 204, 204, 0.35);
    background-color: white;
}
.dataTables_length {
    display:none;
}
.dataTables_wrapper input[type="search"]:focus, .dataTables_wrapper input[type="search"]:active {
    border-bottom: 2px solid #1f91f3;
}
.dataTables_filter input {
    margin-left: 0.5em;
    display: inline-block;
    width: auto;
}
.dataTables_wrapper input[type="search"] {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    border-radius: 0;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    -ms-box-shadow: none;
    box-shadow: none;
    border: none;
    font-size: 14px;
    border-bottom: 1px solid #ddd;
}
input[type="search"] {
    -webkit-appearance: none;
    box-sizing: border-box;
}
.dataTables_filter {
    width: 50%;
    display: block;
    padding: 1em;
}
.dataTables_filter > label > input {
    width: 70%;
}
.dataTables_filter > label {
    width: 100%;
}
.dataTables_wrapper input[type="search"]:focus, .dataTables_wrapper input[type="search"]:active {
    border-bottom: 2px solid #1f91f3;
    outline: none;
}

table.dataTable.no-footer {
    border-bottom: 1px solid #ddd;
}
.table thead tr th {
    padding: 10px;
    border-bottom: 1px solid #eee;
}
table.table-bordered.dataTable th, table.table-bordered.dataTable td {
    border-left-width: 0;
}
th {
    text-align: left;
}
table thead > tr > td {
    padding-right: 1.5em;
}
.table thead tr th {
    padding: 0.5em;
    border: 1px solid #eee;
    border-left-width: 0;
}
table.dataTable tbody td {
    padding: 0.5em;
    border: 1px solid #eee;
    border-left-width: 0;
}
table {
    font-size: 1.0em;
}
.dataTables_info {
    padding-top: 1.0em;
    white-space: nowrap;
}
.paging_simple_numbers {
    margin: 0;
    white-space: nowrap;
    text-align: right;
    font-size: 0.8rem;
}
.btn-profile a {
    color: white;
}
.btn-profile a:hover {
    color: white;
}
.btn-select-country {
    font-size: 1.1rem;
}
.btn-select-country:hover {
   
}
.button-row-2 {
    padding: 1em;
}
.paging_simple_numbers span a {
    
}
.invalid-feedback {
    display: block;
    width: 100%;
    margin-top: .25rem;
    font-size: 80%;
    color: #dc3545;
}
.dataTables_wrapper .dataTables_paginate .paginate_button.current, .dataTables_wrapper .dataTables_paginate .paginate_button.current:hover {
    background: none !important;
}
table.dataTable tbody td span{
    padding: 0.5em;
}
.table-striped tbody tr:nth-of-type(odd) {
    background-color: rgba(0,0,0,.02);
}
.table-striped tbody tr:nth-of-type(odd):hover {
    background-color: rgba(0,0,0,.075);
}

.ngx-pagination {
    float: right;
}
/* Extra Small devices (landscape phones, 100px and up) */
 @media (min-width: 100px) {
    
 }
 /* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
    
 }

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
   
 }

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
    
 }

 /* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
    .container-top {
        padding-left: 4em;
        padding-right: 4em;
    }
}
/* .create-country-profile-form {
    padding-top: 2em;
} */
.select-drp-btn {
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.25098039215686274);
    border-radius: 0.256rem;
    width: 12.5rem;
}
.dropdown-toggle::after {
    margin-left: 1.955em !important;
}
.dropdown-menu {
    min-width: 12.5rem !important;
}
#Foreword-id{
    display: none;
}
.blue {
    color: #014d99;
}
.mp-0 {
    margin: 0;
    padding: 0;
}
.accordion>.card>.card-header {
    margin-bottom: 0;
}
.sub-section-content {
    box-shadow: 0px 2px 14px rgba(0, 0, 0, 0.25098039215686274);
    margin: 1rem;
    padding: 1rem;
    border-radius: 0.3rem;
    width: 100%;
}
.select-section {
    padding: 1.5rem 0rem 1.5rem 0rem;
}
.btn.focus, .btn:focus {
    outline: none;
    box-shadow: none;
}
/* .e-richtexteditor .e-rte-content, .e-richtexteditor .e-source-content {
    min-height: 200px !important;
}
.e-content{
    min-height: 200px !important;
} */
.e-toolbar-wrapper {
    height: auto !important;
}
/* .e-rte-content {
    margin-top: 5rem !important;
} */
.accordion > .card {
    overflow: visible;
}
.card-header .fa {
    font-size: 1rem;
}
.sub-section-content .e-rte-content {
    margin-top: 0px !important;
}
.e-input-group:not(.e-float-icon-left):not(.e-float-input)::before, .e-input-group:not(.e-float-icon-left):not(.e-float-input)::after, .e-input-group.e-float-icon-left:not(.e-float-input) .e-input-in-wrap::before, .e-input-group.e-float-icon-left:not(.e-float-input) .e-input-in-wrap::after, .e-input-group.e-control-wrapper:not(.e-float-icon-left):not(.e-float-input)::before, .e-input-group.e-control-wrapper:not(.e-float-icon-left):not(.e-float-input)::after, .e-input-group.e-control-wrapper.e-float-icon-left:not(.e-float-input) .e-input-in-wrap::before, .e-input-group.e-control-wrapper.e-float-icon-left:not(.e-float-input) .e-input-in-wrap::after {
    background: #014d99 !important;
}
.span-fa-icon {
    padding: 0.5em;
}
.span-fa-icon .fa {
    font-size: 1.2rem !important;
}
.e-dropdownbase .e-list-item.e-active, .e-dropdownbase .e-list-item.e-active.e-hover {
    color:#014d99 !important;
}

.collapsed .fa-minus::before,
.isHidden .fa-minus::before {
    content: "\f067";
}
/* .collapsed .fa-plus::before {
    content: "\f068";
} */
.card-header .btn {
    color: #014d99;
    font-weight: bold;
    text-align: left;
    font-size: 1.25rem;
}

.card-header .btn:hover,
.card-header .btn:hover .fa {
    color: #002f54;
}

.span-icon-pd {
    text-align: right;
    padding: 0;
    color: #014d99;
}
.isHidden,
.isHidden button,
.disabled {
    opacity: 0.3;
    cursor: not-allowed;
    pointer-events: none;
}

.window-restore {
    cursor: pointer !important;
    pointer-events: all !important;
    opacity: unset !important;
}
.window-restore isDisplay {
    cursor: not-allowed;
    pointer-events: none;
    opacity: 0.3;
}
a {
    cursor: pointer;
}
.e-richtexteditor .e-rte-toolbar.e-rte-tb-float, 
.e-richtexteditor .e-rte-toolbar.e-toolbar.e-extended-toolbar.e-rte-tb-float {
    position: absolute;
    top: 0;
}
.e-richtexteditor .e-rte-content .e-content, 
.e-richtexteditor .e-source-content .e-content {
    min-height: 300px;
}
.dataTables_info {
    display: none;
}
.e-input {
    font-size: 1.1rem !important;
}
.span-fa-icon-sub {
    padding: 0.5rem;
    font-size: 1.1rem;
}
.sub-section-col-fa {
    padding-top: 0.3rem;
    color: #014d99;
}


/* Icon animation */
.fa {
	display: inline-block;
	cursor: pointer;
	width: 25px;
	height: 25px;
	border-radius: 50%;
	text-align: center;
	position: relative;
	z-index: 1;
	color: #014d99;
}

.fa:after {
	pointer-events: none;
	position: absolute;
	width: 100%;
	height: 100%;
	border-radius: 50%;
	content: '';
	-webkit-box-sizing: content-box; 
	-moz-box-sizing: content-box; 
	box-sizing: content-box;
}

.fa:before {
    line-height: 25px;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	display: block;
	-webkit-font-smoothing: antialiased;
}

.fa {
	-webkit-transition: -webkit-transform ease-out 0.1s, background 0.2s;
	-moz-transition: -moz-transform ease-out 0.1s, background 0.2s;
	transition: transform ease-out 0.1s, background 0.2s;
}

.fa:after {
	top: 0;
	left: 0;
	padding: 0;
	z-index: -1;
    opacity: 0;
    /* box-shadow: 0 0 0 2px rgba(255,255,255,0.1);
	-webkit-transform: scale(0.9);
	-moz-transform: scale(0.9);
	-ms-transform: scale(0.9);
	transform: scale(0.9); */
}

.fa:hover {
	background: rgba(255,255,255,0.05);
	-webkit-transform: scale(0.93);
	-moz-transform: scale(0.93);
	-ms-transform: scale(0.93);
	transform: scale(0.93);
	color: #014d99;
}

.fa:hover:after {
	-webkit-animation: sonarEffect 1.3s ease-out 75ms;
	-moz-animation: sonarEffect 1.3s ease-out 75ms;
	animation: sonarEffect 1.3s ease-out 75ms;
}

a.pdfUrlMsg , a.pdfUrlMsg:hover {
    text-decoration: underline;
    color: #155724;
    font-weight: bold;
}

@-webkit-keyframes sonarEffect {
	0% {
		opacity: 0.3;
	}
	40% {
		opacity: 0.5;
		box-shadow: 0 0 0 2px rgba(255,255,255,0.1), 0 0 10px 10px #014d99, 0 0 0 10px rgba(255,255,255,0.5);
	}
	100% {
		box-shadow: 0 0 0 2px rgba(255,255,255,0.1), 0 0 10px 10px #014d99, 0 0 0 10px rgba(255,255,255,0.5);
		-webkit-transform: scale(1.5);
		opacity: 0;
	}
}
@-moz-keyframes sonarEffect {
	0% {
		opacity: 0.3;
	}
	40% {
		opacity: 0.5;
		box-shadow: 0 0 0 2px rgba(255,255,255,0.1), 0 0 10px 10px #014d99, 0 0 0 10px rgba(255,255,255,0.5);
	}
	100% {
		box-shadow: 0 0 0 2px rgba(255,255,255,0.1), 0 0 10px 10px #014d99, 0 0 0 10px rgba(255,255,255,0.5);
		-moz-transform: scale(1.5);
		opacity: 0;
	}
}
@keyframes sonarEffect {
	0% {
		opacity: 0.3;
	}
	40% {
		opacity: 0.5;
		box-shadow: 0 0 0 2px rgba(255,255,255,0.1), 0 0 10px 10px #3851bc, 0 0 0 10px rgba(255,255,255,0.5);
	}
	100% {
		box-shadow: 0 0 0 2px rgba(255,255,255,0.1), 0 0 10px 10px #3851bc, 0 0 0 10px rgba(255,255,255,0.5);
		transform: scale(1.5);
		opacity: 0;
	}
}

.e-rte-img-caption .e-img-wrap {
    display: flex;
    flex-wrap: wrap;
}
.e-rte-img-caption .e-rte-image {
    order: 2;
}
.e-rte-img-caption .e-img-inner {
    order: 1;
}
.loaderStyle {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background: rgba(0,0,0,0.4);
    display: flex;
    justify-content: center;
    align-items: center;
}

.cancelModal{
    float: right;
}
button#saveInformation {
    margin-left: 16px;
}
/* Rich text editor */
.e-richtexteditor .e-rte-content .e-content p {
    margin-bottom: 0;
}
body .e-rte-dropdown-popup ul .e-item.e-h1
body .e-rte-dropdown-popup ul .e-item.e-h2 {
    display: none !important;
}
.e-richtexteditor .e-rte-content .e-content h3, 
.e-richtexteditor .e-rte-content .e-content h3 *,
.e-richtexteditor .e-rte-content .e-content h4,
.e-richtexteditor .e-rte-content .e-content h4 *  {
    font-family: "AndesBold", sans-serif !important;
    color: #00aae5 !important;
}

.e-richtexteditor .e-rte-content .e-content h3,
.e-richtexteditor .e-rte-content .e-content h4 {
    letter-spacing: .9px;
    margin-bottom: 8px;
}
.e-richtexteditor .e-rte-content .e-content h3 {
    font-size: 19px;
}
.e-richtexteditor .e-rte-content .e-content h4 {
    font-size: 17px;
}
.e-rte-image {
    margin-left: 5px;
    margin-right: 5px;
}
.e-richtexteditor .e-rte-content .e-content p {
    margin-bottom: 0;
    color: #231f20;
    letter-spacing: 0.3px;
}
.mainSection .e-richtexteditor .e-rte-content .e-content  p,
.subSection .e-richtexteditor .e-rte-content .e-content p {
    margin-bottom: 0;
}
.footerSection .e-richtexteditor .e-rte-content .e-content p {
    margin-bottom: 5px;
    color: #231f20;
}
.footerSection .e-richtexteditor .e-rte-content .e-content  * {
    font-family: "AndesExtraLight", sans-serif !important;
}
.footerSection .e-richtexteditor .e-rte-content .e-content a {
    word-break: break-all;
    color: #231f20;
}
.e-richtexteditor .e-rte-content .e-content table {
    width: 100% !important;
    max-width: 100%;
    text-align: left;
    font-family: "BertholdBERegular", sans-serif !important;
}
.e-richtexteditor .e-rte-content .e-content table * {
    font-family: "BertholdBERegular", sans-serif !important;
}
.e-richtexteditor .e-rte-content .e-content table th {
    background: #00aae7;
    color: #ffffff;
    border: 0;
    vertical-align: bottom;
}
.e-richtexteditor .e-rte-content .e-content table th p,
.e-richtexteditor .e-rte-content .e-content table th span {
    color: inherit !important;
}
.e-richtexteditor .e-rte-content .e-content table th p {
    margin-bottom: 0;
}
.e-richtexteditor .e-rte-content .e-content table tbody td {
    padding: 2px 5px;
    border: 0;
    border-bottom: 1px solid #666666;
    vertical-align: top;
}


table tbody tr td:nth-child(2) {
    max-width: 300px;
    white-space: nowrap; overflow:
    hidden; text-overflow: ellipsis;
}
table tbody tr td:nth-child(3) {
    max-width: 200px;
}
table tbody tr td:nth-child(4) {
    max-width: 200px;
}
sup a {
    color: #000000;
    font-size: 10px !important;
    padding-left: 2px;
}
sup {
    padding-left: 2px;
}
.page-break-inside {
    page-break-inside: avoid;
}
.imgWrap{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.imgWrap p {
    width: 100%;
}
/* table tbody tr td:nth-child(2){
 max-width: 200px;
 word-break: break-word;
} */

/* .pdfContent p {
    margin-bottom: 0;
    color: #000000;
    letter-spacing: 0.3px;
    font-size: 18px!important;
}

.pdfContent .mainSection p{
    font-size: 18px!important;
}
.pdfContent .subSectionTitle, .pdfContent .subSectionTitle a {
    margin-bottom: 28px;
    font-size: 34px!important;
    letter-spacing: .7px;
    font-family: "AndesBook", sans-serif !important;
    color: #002f54;
    padding-top: 2px;
} */
/* .pdfContent .subSectionContentText h3{
    font-size:60px!important;
} */
/* .pdfContent .subSectionContentText h3
.previewCoverPage .pdfContent {
    height: 1448px;
    page-break-after: always;
    page-break-before: always;
} */
/* #print-section{ 
    width:1024px;
    margin:0 auto;
} */
/* .previewCoverPage1{
    margin-top:230px;
    page-break-after: always;
    page-break-before: always;
}
.previewCoverPage2{
    page-break-after: always;
    page-break-before: always;
}
 .previewCoverPage3{
    page-break-after: always;
    page-break-before: always;
}

    .pdfContent .footerSection p{
        font-size: 14.1px!important;
    }

    .imgWrap {
    background-color: #e7f4fc !important;
    padding: 0px 120px;
    margin-top: 57px!important;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.pdfContent h3 {
    font-size: 73px!important;
} */
/*

@media print {
    .previewCoverPage , .previewCoverPage2{
        margin:0 auto;
    }
    @page:first {
         margin: 0mm 0mm 0mm 0mm;
         size:21cm 29.7cm
    }
     @page {
          size:A4 ;

    }
.pdfContent p {
    margin-bottom: 0;
    color: #000000;
    letter-spacing: 0.3px;
    font-size: 18px!important;
}
.pdfContent .subSectionContentText h3{
    font-size:50px!important;
}

} */


