.alert-success {
    color: #155724;
    background-color: #d4edda;
    border-color: #c3e6cb;
    right: 0px;
    position: fixed;
    top: 0px;
    z-index: 99999;
}

.close {
    line-height: 0 !important;
    padding-left: 15px;
}