<div class="container-fluid container-top">
    <div class="loaderStyle" *ngIf="loading">
        <div class="spinner-grow text-primary" role="status">
            <span class="sr-only"></span>
        </div>
    </div>

<jw-modal class="modal" tabindex="-1" role="dialog" id="boostrapModal">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title"><b>{{countyTitle.countryName}}-{{countyTitle.title}}</b></h5>
        <button type="button" (click)="cancelModal('boostrapModal')" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Are you sure you want to delete profile for '{{countyTitle.title}}'</p>
      </div>
      <div class="modal-footer">
        <button (click)="closeModal('boostrapModal',countyTitle._id)" class="btn btn-danger">OK</button>
        <button (click)="cancelModal('boostrapModal')" class="btn btn-secondary" >Cancel</button>
      </div>
    </div>
  </div>
</jw-modal>


  <div class="row mb-3">
    <h4 class="col-md-12 mainHeading pb-2">{{homeData.dashboardTitle}}<b style="color: #014d99;text-transform: capitalize;"></b></h4>
  </div>
  <div class="form-row mb-3">
    <div class="col-sm-4">
          <ejs-dropdownlist id='ddlelement' #samples [dataSource]='data' [fields]='fields' [placeholder]='text' [allowFiltering]='true' (change)='countryFilter($event)' ></ejs-dropdownlist>
    </div>
    <div class="col-sm-4">
      <span id="CreatedCount" *ngIf="isDisplay" style="margin-left: 15px;">
        Created <span class="badge badge-light"> {{ createdCounter.length }}</span>
      </span>
      <span id="DraftCount" *ngIf="isDisplay">
          Draft <span class="badge badge-light">{{draftCounter.length}}</span>
        </span>
    </div>   
      
    <div class="col">
      <a class="btn btn-primary float-right" routerLink='/create-country-profile'>{{homeData.newProfileCreation}}</a>
    </div>
  </div>
  <div class="alert alert-success" role="alert" *ngIf="isDeleted">
    {{homeData.profileDeleted}} 
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="alert alert-success" role="alert" *ngIf="showPdfMsg">
    {{homeData.pdfMsg}}
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="table-responsive">
    <table class="table table-bordered table-striped table-hover">
        <thead class="thead-light">
        <tr>
          <th>#</th>
          <!-- <th>Country</th> -->
          <th>Title</th>
          <th>Region</th>
          <th>Country</th>
          <th>Created By</th>
          <th>Status</th>
          <th>Last Saved Date</th>
          <th>Action</th>
        </tr>
        </thead>
        <tbody *ngIf="profilesData?.length > 0">
          <tr *ngFor="let profile of profilesData | paginate: config; let i = index">
            <td>{{i + 1 + ((config.currentPage - 1) * config.itemsPerPage)}} </td>
            <td>{{ profile.title }} </td>
            <td> {{ profile.regionName }}</td>
            <td>{{ profile.countryName }} </td>
            <td> {{ profile.createdBy }} </td>
            <td *ngIf="profile.status == '1'">Draft</td>
            <td *ngIf="profile.status == '2'">Created</td>
            <td *ngIf="profile.status === null"> </td>
            <td > {{profile.updatedDate}} </td>
            <td>
                <a title="Edit" (click)="editCountryProfile(profile.countryName,profile._id, profile)" class="d-inline-block"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a>
              <!-- <a title="Generate PDF" (click)="openPdfReport(profile.countryName,profile._id)" class="d-inline-block mx-1"
                *ngIf="profile.pdfUrl === null; else defaultAdbWbLogoImageURL"><i class="fa fa-file-pdf-o" style="color: black;
                                opacity: 0.5;"></i></a>
              <ng-template #defaultAdbWbLogoImageURL>
                <a title="View PDF" (click)="openPdfReportURL(profile.pdfUrl)" class="d-inline-block mx-1"><i
                    class="fa fa-file-pdf-o"></i></a>
              </ng-template> -->
              
                <a title="Generate PDF" id="generate-pdf" (click)="openPdfReport(i ,profile.countryName,profile._id,profile)" *ngIf="(!profile.pdfUrl  && profile.status === 1 )" style="margin-left: 4px;margin-right: 4px;" [class.disabled]="selectedIndex === i" ><i class="fa fa-file-pdf-o" style="color: black; opacity: 0.5;"></i></a>
                
                    <a title="View PDF" (click)="openPdfReportURL(profile.pdfUrl)" class="d-inline-block mx-1 disabled" *ngIf="(!profile.pdfUrl && profile.status == 2)" style="cursor: not-allowed;"  ><i class="fa fa-file-pdf-o"></i></a>
                 
                   <a title="View PDF" (click)="openPdfReportURL(profile.pdfUrl)" class="d-inline-block mx-1" *ngIf="(profile.pdfUrl && profile.status === 1)||(profile.pdfUrl && profile.status === 2)"><i class="fa fa-file-pdf-o"></i></a>
                   
                <a title="Delete" data-target="#boostrapModal" (click)="openModal('boostrapModal',profile)" class="d-inline-block"><i class="fa fa-trash-o" aria-hidden="true"></i></a>
            </td>
          </tr>
        </tbody>
        <tbody *ngIf="profilesData?.length == 0">
            <tr>
                <td class="no-data-available" colspan="8">{{homeData.noProfiles}}</td>
            </tr>
          </tbody>
    </table>

    <pagination-controls (pageChange)="pageChanged($event)"></pagination-controls>
  </div>
</div>