span#CreatedCount {
    background-color: #014d99;
    color: white;
    padding: 8px;
    border-radius: 5px;
}
span#DraftCount {
    background-color: #014d99;
    color: white;
    padding: 8px;
    border-radius: 5px;
    margin-left: 10px;
}