<nav class="navbar navbar-expand-lg navbar-light">
    <a class="navbar-brand" href="https://www.worldbank.org/" target="_blank">
        <img src={{headerData.wbgLogo}} ondragstart="return false;" ondrop="return false;" oncontextmenu="return false;" class="header-logo">
    </a>
    
    <img src={{headerData.logoLine}} ondragstart="return false;" ondrop="return false;" oncontextmenu="return false;"class="header-logo">
    
    <a class="navbar-brand" routerLink="/">
        <img src={{headerData.cckpLogo}} ondragstart="return false;" ondrop="return false;" oncontextmenu="return false;" class="header-logo">
    </a>
</nav>
<app-alert></app-alert>